.customer-loan-success-page{
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  .icon-success{
    width: 40px;
    height: 40px;
  }
  .page-heading{
    margin-bottom: 0;
    color: #404040;
    font: 600 18px/30px @usual-font-family;
  }
  .contact-section{
    margin-top: 25px;
  }
}

.align-middle-section{
  height: calc(~"100vh - 150px");
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-left: -5px;
  }
  .align-middle-inner{
    display: inline-block;
    vertical-align: middle;
  }
}