.onboard-page{
  margin: 0 auto;
  padding: 0;
  width: 1040px;
  max-width: 100%;

  .onboard-heading{
    .clearfix;
    padding-left: 20px;
    margin-bottom: 27px;
    .onboard-headers-container{
      float: left;
    }
    .onboard-contact-info{
      position: relative;
      float: right;
      margin: 22px 0 0 0;
      padding-left: 25px;
      font-size: 14px;
      line-height: 1.1;

      .icon-help-hold{
        position: absolute;
        left: 0;
        top: 0;
        color: @btn-success-bg;
      }
    }
    .dealnet-large-header{
      margin-top: 0;
      font-size: 36px;
      line-height: 1.2;
    }
    .dealnet-md-header{
      margin-top: 0;
      font-size: 26px;
      line-height: 1;
    }
  }

  .panel{
    .panel-body{
      padding-top: 10px;
    }
    .passed-step-icon {
      display: none;
    }
    &.step-passed {
      .passed-step-icon {
        display: block;
        position: absolute;
        left: -35px;
        top: 21px;
        width: 20px;
        color: @btn-success-bg;
        @media @tablet-down {
          left: 10px;
          width: 14px;
        }
        @media @mobile {
          left: 10px;
          width: 10px;
        }
        .icon{
          width: 100%;
        }
      }
    }
  }

  .panel-step{
    left: 20px;
    @media @tablet-down {
      left: 30px;
      color: #5ec72f;
      background-color: rgba(97, 197, 60, 0.17);
      border: 0;
      line-height: 30px;
    }
    @media @mobile {
      width: 26px;
      height: 26px;
      line-height: 26px;
    }
  }
  .customer-loan-form-panel .panel-heading{
    padding-left: 70px;
  }
  .customer-loan-form-panel .dealnet-middle-header {
    font-size: 18px;
    line-height: 1.65;
  }
  .customer-loan-form-panel .panel-heading .arrow{
    right: 26px;
  }

  .consents-checkbox-hold{
    .checkbox-hold{
      margin-top: 0;
    }
  }


  .form-group label,
  .form-group .dealnet-label{
    margin-bottom: 5px;
  }

  .form-control{
    padding-left: 8px;
  }

  .checkbox-toggle{
    margin: 10px 0;
  }

  .btn-proceed{
    margin-top: 20px;
  }

}
.checkbox-form-group{
  margin: 15px 0;
}
.additional-info-text{
  color: #adadad;
}

.flex-centered-text{
  @media @tablet-up {
    .flex-display;
    .align-items(center);
    height: 100%;
    min-height: 40px;
  }
}

.info-text-success{
  height: 100%;
  padding-left: 30px;
  .icon-info-well{
    position: absolute;
    left: 0;
    top: 8px;
    color: @btn-success-bg;

  }
  .notification-text{
    color: #afafaf;
  }
}

.action-link{
  .align-middle;
  .dealnet-info-link;
  margin: 10px 0;
}
.action-link-holder{
  @media @tablet-up {
    min-height: 50px;
    .action-link{
      .flex(0 0 200px);
    }
    .well{
      .flex(1 1 auto);
    }
  }
  .well{
    padding-left: 60px;
    .icon-info-well{
      color: @danger-color;
      position: absolute;
      top: 10px;
      left: 18px;
    }
  }
}

.trade-reference{
  .remove-reference-link{
    display: none;
  }
  &.is-removable{
    .remove-reference-link{
      display: block;
    }
    .trade-reference-header{
      position: relative;
      padding-right: 30px;
    }
  }
}

.remove-reference-link{
  .clickable-icon;
  position: absolute;
  right: 0;
  top: 3px;
  width: 14px;
  height: 20px;
  color: #000;
  .icon{
    width: 100%;
    height: 100%;
  }
}

.placeholder-text{
  color: #adadad;
}

.onboard-required-documents{
  .placeholder-text{
    font-size: 12px;
  }
}

.onboard-required-documents-heading{
  font-size: 16px;
  color: #000;
}

.onboard-uploaded-documents{
  margin-bottom: 20px;

  .files-container{
    position: relative;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 12px;
    line-height: 1.2;
    &:nth-child(2n){
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 50px;
        width: 1px;
        background: #dcdcdc;
        opacity: 0.5;
      }
    }
    p{
      margin-bottom: 10px;
    }
    .inner-div{

    }

    .btn{
      margin-top: 20px;
      width: 235px;

    }
  }
  .equal-height-section{
    .flex-display;
    .align-items(center);
    .justify-content(center);
  }
}

.onboard-uploaded-license{
  margin: 40px 0 20px;
  text-align: center;
}

.onboard-license-list{
  margin-top: 30px;
  .onboard-license-item{
    .flex-display;
    padding: 15px 20px;
    border-bottom: 1px solid #ededed;
    &:first-child{
      border-top: 1px solid #ededed;
    }
    .custom-checkbox{
      .flex(1 1 100%);
      margin: 0;
    }
    .action-holder{
      .flex(1 1 auto);
      padding-left: 20px;
      .dealnet-link-button{
        padding: 0;
        border: 0;
        height: auto;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.onboard-owners-hold{
  margin-top: 20px;
}
.onboard-owners-row{
  @media @tablet-up {
    .flex-display;
    .flex-direction(row);
    .align-items(center);
    padding: 3px 0;
  }
  @media @tablet-only {
    .justify-content(space-between);
  }
  @media @mobile {
    margin: 0 -15px;
    padding: 0 15px;
  }
  & + .onboard-owners-row{
    @media @mobile {
      margin-top: 10px;
      padding-top: 10px;
      border-top:  1px solid #ededed;
    }
  }
  .custom-checkbox .checkbox-icon{
    top: 4px;
  }
  .onboard-owners-col{
    @media @tablet-up{
      .flex-display;
    }
    @media @desktop-up {
      .flex(0 0 28%);
    }
    @media @tablet-only {
      .flex(0 0 33.3%);
    }
    @media @mobile {
      padding: 10px 0;
    }

    &.date-col{
      .justify-content(center)
    }
    &.agree-col{
      .justify-content(flex-end)
    }
  }
}