.onboard-page{
  margin: 0 auto;
  padding: 0 20px;
  width: 1040px;
  max-width: 100%;
  .onboard-steps{
    @media @tablet-up {
      margin: 0 -20px;
    }
  }

  .onboard-heading{
    .clearfix;
    margin-bottom: 27px;
    .onboard-headers-container{
      float: left;
    }
    .onboard-contact-info{
      position: relative;
      float: right;
      margin: 22px -20px 0 0;
      padding-left: 25px;
      font-size: 14px;
      line-height: 1.1;

      .icon-help-hold{
        position: absolute;
        left: 0;
        top: 0;
        color: @btn-success-bg;
      }
    }
    .dealnet-large-header{
      margin-top: 0;
      font-size: 36px;
      line-height: 1.2;
    }
    .dealnet-md-header{
      margin-top: 0;
      font-size: 26px;
      line-height: 1;
    }
  }

  .panel.step-passed{
    .passed-step-icon{
      position: absolute;
      left: -35px;
      top: 21px;
      color: @btn-success-bg;
    }
  }

  .panel-step{
    left: 20px;
  }
  .customer-loan-form-panel .panel-heading{
    padding-left: 70px;
  }
  .customer-loan-form-panel .dealnet-middle-header {
    font-size: 18px;
    line-height: 1.65;
  }
  .customer-loan-form-panel .panel-heading .arrow{
    right: 26px;
  }


  .form-group label,
  .form-group .dealnet-label{
    margin-bottom: 5px;
  }

  .form-control{
    padding-left: 8px;
  }

  .tags-list{
    margin-top: 24px;
  }

}