.shareable-link-page{
  .controls-hold {
    .clearfix;
    .btn-small{
      @media @tablet-up {
        width: 80px;
        float: right;
      }
      @media @mobile {
        float: none;
        display: block;
        width: 100%;
        max-width: 355px;
        margin: 15px auto 0;
      }
    }
    .control-group{
      @media @tablet-up {
        float: left;
        width: calc(~"100% - 100px");
      }
      @media @mobile {
        float: none;
        width: 100%;
      }
      .dropdown-container {
          position: relative;
      }
    }
  }
  .labels-hold{
    margin-bottom: 7px;
    label{
      margin: 0;
    }
  }
  .get-link-section{
    max-width: 765px;
    .checkbox-toggle{
      margin-left: 20px;
    }
  }
  .equipment-section{
    @media @desktop-up {
      max-width: 765px;
    }
    margin-top: 30px;
    .nav-tabs {
      width: auto;
      display: inline-block;
      & > li{
        width: 128px;
      }
    }
    .tab-content{
      padding: 0;
      .tab-pane{
        padding: 0;
      }
    }
      .define-equipment-input{
        padding: 20px 0 0;
        @media @tablet-up {
          max-width: 420px;
        }
      }
  }
  .save-proceed-btn-hold{
    position: relative;
    @media @desktop-up {
      max-width: 765px;
    }
    .note {
      display: inline-flex;
      @media @desktop-up {
        padding: 9px 40px;
      }
      @media @tablet-down {
        padding: 15px 15%;
      }
      .icon-hold {
        padding-right: 15px; 
          padding-top: 0;
        @media only screen and (max-width: 450px)  {
          padding-top: 10px;
        }
      }
    }
  }

  .btn-save-proceed{
    @media @tablet-down {
      width: 100%;
      display: block;
      max-width: 355px;
      margin: 0 auto;
    }
  }
}

.tags-list{
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  li{
    position: relative;
    display: inline-block;
    padding: 11px 46px 11px 20px;
    margin: 10px 5px;
    border-radius: 50px;
    background: #f2f2f2;
    color: #5d5d5d;
    font: 14px/1.3  @usual-font-family;
    .icon-remove{
      position: absolute;
      right: 17px;
      top: 15px;
      opacity: 0.7;
      cursor: pointer;
      width: 10px;
      height: 10px;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -5px;
        background: transparent;
      }
      .icon-remove-cross{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover{
        opacity: 1;
      }
    }

  }
  &.customer-needs-list{
    li{
      height: 30px;
      margin: 4px 5px 6px;
      padding: 0px 28px 0px 17px;
      line-height: 30px;
      color: #99a2a8;
      background: rgba(245, 246, 250, 0.7);
      .icon-remove{
        top: 10px;
        right: 12px;
      }
    }
  }
}

.nw-customer-link {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 100%;
    justify-content: space-between;

    .nw-customer-link-form {
        box-shadow: 0 0 5px 0 rgba(110, 110, 110, 0.21);
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        flex-basis: 49%;

        &__title {
            margin: 8px;
            font-size: 24px;
        }

        &__description {
            font-weight: 300;
            margin: 8px;
            font-size: 18px;

            & > span {
                margin-left: 8px;
                font-size: 10px;
                color: #aebdc9;
            }
        }

        &__input-row {
            margin: 8px;
            font-size: 18px;
            display: flex;

            .new-input-group {
                flex-basis: 79%;
                margin-top: -8px;
                margin-right: 24px;
            }

            &__project-definition.new-input-group {
                flex-basis: 41%;
            }

            .new-btn-solid-green {
                flex-basis: 15%;
            }
        }

        &__switch {
            margin: 8px 8px 54px 8px;
            font-size: 18px;
            display: flex;
            align-items: center;

            & > span {
                font-weight: 300;
                font-size: 13px;
                margin-left: 16px;
            }
        }

        &__tag-cloud {
            margin: 8px 0;
            font-size: 18px;
            display: flex;

            span {
                margin: 0 8px;
                padding: 10px 13px;
                display: flex;
                align-items: center;
                font-size: 14px;
                background-color: #eef6ff;
                border-radius: 30px;

                .ic-nw-close-small {
                    margin-left: 12px;
                }
            }
        }
    }
}



.nw-page-tabs {
    display: none;
}

@media @tablet-only {
    .nw-page-title {
        a {
            display: none;
        }
    }

    .nw-customer-link {
        .nw-customer-link-form {
            flex-basis: 100%;
        }
    }

    .nw-page-tabs {
        display: flex;
    }

}

@media @mobile {
    .nw-page-title {
        &__title {
            font-size: 26px;
        }

        a {
            display: none;
        }
    }

    .nw-customer-link {
        .nw-customer-link-form {
            padding: 8px;
            flex-basis: 100%;

            &__input-row {
                flex-wrap: wrap;

                .new-input-group {
                    margin-right: 0;
                    flex-basis: 100%;
                }

                .new-btn-solid-green {
                    margin-top: 16px;
                    flex-basis: 100%;
                }
            }

            &__tag-cloud {
                flex-wrap: wrap;

                span {
                    margin: 8px;
                }
            }
        }
    }

    .nw-page-tabs {
        display: flex;
    }

}