<div class="customer-success-page">
	<div class="customer-success-page-inner">
		<div class="text-center">
			<div class="icon-hold">
				<svg aria-hidden="true" class="icon icon-success-gray-circle"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success-gray-circle")"></use></svg>
			</div>
			<div class="customer-success-page-content">
				<strong>Congratulations, John Smith has been pre-approved for $15,000.</strong>
			</div>
			<div class="btn-container">
				<a href="" class="btn dealnet-button dealnet-link-button">My Clients</a>
			</div>
			<div class="btn-container">
				<a href="" class="btn dealnet-button dealnet-success-button">Add Another Client</a>
			</div>
		</div>
	</div>
</div>