<div class="customer-success-page unsubscribe-page">
    <div class="customer-success-page-inner">
        <h2 class="dealnet-large-header text-center">Unsubscribe</h2>
        <div class="text-center">
            <p>We are sorry to hear you don't want to receive emails from DealNet anymore.<br class="hidden-xs">
                Please confirm your email address to unsubscribe.</p>
        </div>

        <div class="fixed-form-section">
            <form action="">
                <div class="form-group">
                    <div class="control-group">
                        <input type="email" class="dealnet-input form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Unsubscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>