<div class="customer-success-page">
	<div class="customer-success-page-inner">
		<div class="text-center">
			<div class="customer-success-page-content">
				<p><strong>@Resources.CreditCheckProceedSuccessfully</strong></p>
				<p>Congratulations, @ViewBag.FullName has been pre-approved for <strong>$@ViewBag.CreditAmount</strong></p>
			</div>
			<div class="btn-container">
				<a href="@Url.Action("MyClients", "MortgageBroker")" class="btn dealnet-button dealnet-link-button">@Resources.MyClients</a>
			</div>
		</div>
	</div>
</div>