<div id="label-steps">
	<div class="dealnet-action-link">My Deals</div> >
</div>
<!--<div class="dealnet-large-header">My Deals</div>-->

<div class="expand-filter-template">
	<div class="reset-form-inline">
		<div class="label-caption">Filter</div>
		<div class="row">
			<div class="col-sm-6 col-md-3 col-lg-4">
				<div class="form-group">
					<label for="">Deal Status</label>
					<div class="control-group">
						<select name="" id="" class="form-control">
							<option value="">--not selected--</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="form-group">
					<label for="">Date From</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				<div class="form-group">
					<label for="">Date To</label>
					<div class="control-group date-group">
						<input type="text" class="form-control date-control">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-6">
				<div class="form-group">
					<button class="btn dealnet-button dealnet-success-button block-button">Filter</button>
				</div>
			</div>
		</div>
	</div>
</div>

<table id="work-items-table" class="display responsive" width="100%">
	<thead>
		<tr>
			<th class="all">Contract#</th>
			<th class="all">Customer</th>
			<th class="min-tablet-p">Status</th>
			<th class="min-tablet-p">Email</th>
			<th class="min-tablet-l">Phone</th>
			<th class="desktop">Date</th>
			<th class="desktop">Equipment</th>
			<th class="desktop">Value</th>
			<th class="all"></th>
		</tr>
	</thead>
</table>
<link href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet">
@section scripts
{
<script type="text/javascript">
	$(document)
		.ready(function () {
			showTable();
			assignDatepicker($(".date-control"));

		});
	function assignDatepicker(input) {
		input.datepicker({
			dateFormat: 'mm/dd/yy',
			changeYear: true,
			yearRange: '1900:2016',
			minDate: Date.parse("1900-01-01"),
			maxDate: new Date()
		});
	}



	var data = [

		{
			"Contract#": "2345",
			"Customer": "Fred Flintstone",
			"Status": "Waiting on Documents",
			"Email": "mmouse@email.com",
			"Phone": "555-555-1234",
			"Date": "2015/10/01",
			"Equipment": "Furnace Air Conditioner",
			"Value": "$ 5500.00"
		}

	]


	function showTable() {
		$('#work-items-table')
			.DataTable({
				data: data,
				oLanguage: {
					"sSearch": '<span class="label-caption">Search</span> <span class="icon-search"><i class="glyphicon glyphicon-search"></i></span>',
					"oPaginate": {
						"sNext": '<i class="glyphicon glyphicon-menu-right"></i>',
						"sPrevious": '<i class="glyphicon glyphicon-menu-left"></i>'
					}
				},
				columns: [
					{ "data" : "Contract#" },
					{ "data": "Customer" },
					{ "data": "Status" },
					{ "data": "Email" },
					{ "data": "Phone" },
					{ "data": "Date"},
					{ "data": "Equipment"},
					{ "data": "Value"},
					{// this is Actions Column
						"render": function (sdata, type, row) {
							return '<a href="#" title="Edit"><svg aria-hidden="true" class="icon icon-edit"><use xlink:href="/client/Content/images/sprite/sprite.svg#icon-edit"></use></svg></a>';
						}
					}
				],
				dom:
				"<'row'<'col-md-8''<'#table-title.dealnet-caption'>'><'col-md-4 col-sm-6'f>>" +
				"<'row'<'col-md-12''<'#expand-table-filter'>'>>" +
				"<'row'<'col-md-12'l>>" +
				"<'row'<'col-md-12'tr>>" +
				"<'row'<'col-md-12'p>>" +
				"<'row'<'col-md-12'i>>",
				renderer: 'bootstrap'
			});

		var iconFilter = '<span class="icon-filter-control"><svg aria-hidden="true" class="icon icon-filter"><use xlink:href="/client/Content/images/sprite/sprite.svg#icon-filter"></use></svg></span>';
		var iconSearch = '<span class="icon-search-control"><i class="glyphicon glyphicon-search"></i></span>';
		$('#table-title').html('<div class="dealnet-large-header">My Work Items <div class="filter-controls hidden">'+ iconFilter +' '+ iconSearch +'</div></div>');
		$('#table-title .icon-search-control').on('click', function(){
			$(this).toggleClass('active');
			$('#work-items-table_filter').slideToggle();
		});
		$('#table-title .icon-filter-control').on('click', function(){
			$(this).toggleClass('active');
			$('#expand-table-filter').slideToggle();
		});
		$('#expand-table-filter').html($('.expand-filter-template').clone());
	};

</script>
}