@using DealnetPortal.Api.Common.Enumeration
@model DealnetPortal.Web.Models.SubmitConfirmationViewModel

<div class="rental-successful-page">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-5 message-block">
        @if (Model != null && Model.AgreementType == AgreementType.LoanApplication)
        {
            <div class="message-header text-center">Loan Agreement submitted successfully!</div>
        }
        else
        {
            <div class="message-header text-center">Rental Agreement submitted successfully!</div>
        }
        <div class="message-desc">Thank you, @Model.HomeOwnerFullName, for completing the @(Model.AgreementType==AgreementType.LoanApplication ? "loan" : "rental") agreement. You will receive an email shortly at <a href="mailto:@Model.HomeOwnerEmail">@Model.HomeOwnerEmail</a> containing a copy of the completed agreement.
        </div>

        <div class="text-center">
            <a href="@Url.Action("BasicInfo")" class="btn dealnet-button dealnet-success-button wide-button">
                Create another application for this home owner
            </a>
        </div>
    </div>
</div>
</div>
