﻿@Styles.Render("~/Content/basic-info.css")

@Html.ActionLink("New Rental", "BasicInfo", null, new {@class = "dealnet-action-link"}) >

<div class="dealnet-large-header" id="basic-info">Basic Info</div>

<div class="row" id="steps">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="dealnet-empty-circle">
            <div class="dealnet-green-circle">1</div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="step-centered">
            <div class="dealnet-empty-circle">2</div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="step-centered">
            <div class="dealnet-empty-circle">3</div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="step-centered">
            <div class="dealnet-empty-circle">4</div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div id="step5">
            <div class="dealnet-empty-circle">5</div>
        </div>
    </div>
</div>

<form>
    <div class="dealnet-middle-header" id="owner-info-label">Home Owner Information</div>

    <div class="row" id="scanlicense-button">
        <div class="col-md-3 col-lg-3">
            <div type="button" id="scan-btn" class="btn dealnet-button dealnet-green-button col-lg-12 col-md-12" data-toggle="modal" data-target="#camera-modal">
                <p class="dealnet-green-button-text">
                    <img src="~/content/images/scan-license.png">Scan License
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="camera-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="dealnet-middle-header">Scan License</div>
                    <div class="dealnet-middle-header-2" id="you-want">How do you want to do this?</div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li id="foldit" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Use Camera</a></li>
                        <li id="foldit" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Upload</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div id="capture-area">
                                <video autoplay class="capture-frame" id="video"></video>
                                <canvas id="capture-canvas" class="capture-frame"></canvas>
                                <canvas id="big-capture-canvas"></canvas>
                                <div id="capture-buttons">
                                    <input type="button" class="btn dealnet-button dealnet-green-button big-green-button" id="capture-buttons-1" value="Capture" onclick="takePhoto()"/>
                                    <div id="capture-buttons-2">
                                        <input type="button" class="btn dealnet-button dealnet-green-button big-green-button" id="upload-capture" data-uploadUrl="@Url.Action("RecognizeDriverLicense", "NewRental")" value="Save" onclick="uploadCaptured()"/>
                                        <div id="retake" onclick="retakePhoto()">Retake</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div id="upload-area">
                                <div id="upload-buttons">
                                    <div class="file-upload btn dealnet-button dealnet-green-button">
                                        <p class="dealnet-green-button-text">
                                            <img src="~/content/images/upload.png">Upload Photo
                                        </p>
                                        <input type="file" class="upload" id="upload-file" data-uploadUrl="@Url.Action("RecognizeDriverLicensePhoto", "NewRental")" onchange="submitUpload()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="owner-info">
        <div class="col-md-4 col-lg-4">
            First Name
            <input type="text" class="form-control dealnet-input" id="first-name" placeholder="First Name"/>
        </div>
        <div class="col-md-4 col-lg-4">
            Last Name
            <input type="text" class="form-control dealnet-input" id="last-name" placeholder="Last Name"/>
        </div>
        <div class="col-md-4 col-lg-4">
            Date of Birth
            <input type="text" class="form-control dealnet-input" id="birth-date" placeholder="mm/dd/yyyy"/>
        </div>
    </div>

    <div id="add-additional-applicant" onclick="">
        <p><img src="~/Content/images/add-app.png"/>Add additional applicant
        </p>
    </div>

    <p id="address-info-label" class="dealnet-middle-header">Adress Information</p>

    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="btn dealnet-button dealnet-green-button col-lg-12 col-md-12" onclick="autodetectAddress()">
                <p class="dealnet-green-button-text"><img src="~/content/images/get-location.png">Get My Location
                </p>
            </div>
        </div>
    </div>

    <div class="row" id="address-info1">
        <div class="col-md-6 col-lg-6">
            Installation Adress
            <input type="text" class="form-control dealnet-input" id="street" placeholder="St."/>
        </div>
        <div class="col-md-2 col-lg-2">
            Unit #
            <input type="text" class="form-control dealnet-input" id="unit_number" placeholder="12345"/>
        </div>
        <div class="col-md-4 col-lg-4">
            City
            <input type="text" class="form-control dealnet-input" id="locality" placeholder="Ottawa"/>
        </div>
    </div>

    <div class="row" id="address-info2">
        <div class="col-md-4 col-lg-4">
            Province
            <input type="text" class="form-control dealnet-input" id="administrative_area_level_1" placeholder="Nepean"/>
        </div>
        <div class="col-md-4 col-lg-4">
            Postal Code
            <input type="text" class="form-control dealnet-input" id="postal_code" placeholder="12345"/>
        </div>
        <div class="col-md-4 col-lg-4 dealnet-disabled-text clear-address" id="clear-address">
            <p>
                <div class="dealnet-gray-circle">x</div>
                Clear Address
            </p>
        </div>
    </div>

    <p id="mailing-adress-different"><input type="checkbox" class="dealnet-checkbox" id="mailing-adress-checkbox"/>Mailing adress is different
    </p>

    <div id="mailing-adress">
        <div class="row" id="mailing-adress1">
            <div class="col-md-6 col-lg-6">
                Mailing Adress
                <input type="text" class="form-control dealnet-input" id="mailing_street" placeholder="St."/>
            </div>
            <div class="col-md-2 col-lg-2">
                Unit #
                <input type="text" class="form-control dealnet-input" id="mailing_unit_number" placeholder="12345"/>
            </div>
            <div class="col-md-4 col-lg-4">
                City
                <input type="text" class="form-control dealnet-input" id="mailing_locality" placeholder="Ottawa"/>
            </div>
        </div>

        <div class="row" id="mailing-adress2">
            <div class="col-md-4 col-lg-4">
                Province
                <input type="text" class="form-control dealnet-input" id="mailing_administrative_area_level_1" placeholder="Nepean"/>
            </div>
            <div class="col-md-4 col-lg-4">
                Postal Code
                <input type="text" class="form-control dealnet-input" id="mailing_postal_code" placeholder="12345"/>
            </div>
            <div class="col-md-4 col-lg-4 dealnet-disabled-text clear-address" id="clear-mailing-address">
                <p>
                    <div class="dealnet-gray-circle">x</div>
                    Clear Address
                </p>
            </div>
        </div>
    </div>

    <div class="row" id="saveproceed-button">
        <div class="col-md-3 col-lg-3">
            <button class="btn dealnet-button dealnet-green-button col-lg-12 col-md-12">
                <p class="dealnet-green-button-text">Save and Proceed</p>
            </button>
        </div>
    </div>
</form>

@Scripts.Render("~/bundles/basic-info")

@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDaQqymsNuummVv7Yi9I2kgGl0lxDjZri4&libraries=places&callback=initGoogleServices" async defer></script>
}

