@{
ViewBag.Title = "RateCard";
}

<div id="label-steps">
    <div class="dealnet-action-link">@Resources.NewApplication</div> > <div class="dealnet-action-link">Rate Card</div> >
</div>

<div class="dealnet-large-header">Rate Card</div>

<div class="rate-cards-page">
    <h2 class="dealnet-middle-header">Fixed Rate Loan Program</h2>
    <div class="loan-amort-tablehold scrollable-container">
        <div class="scrollable-content">
            <table class="table rate-cards-table table-bordered loan-amort-table">
                <thead>
                <tr>
                    <th class="text-center">Loan Amount</th>
                    <th>Customer Rate</th>
                    <th colspan="5" class="text-center">Loan Term/Amortization</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>36/36</td>
                    <td>48/48</td>
                    <td>60/60</td>
                    <td>60/120</td>
                    <td>60/180</td>
                </tr>
                <tr>
                    <td>$&nbsp;1,000 - $&nbsp;4,999</td>
                    <td>11.99&nbsp;%</td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>$&nbsp;5,000 - $&nbsp;9,999</td>
                    <td>9.74&nbsp;%</td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                </tr>
                <tr>
                    <td>$&nbsp;10,000 - $&nbsp;19,999</td>
                    <td>8.99&nbsp;%</td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                </tr>
                <tr>
                    <td>$&nbsp;20,000 - $&nbsp;50,000</td>
                    <td>7.99&nbsp;%</td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                    <td class="chosen-cell"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2 class="dealnet-middle-header">No Interest — Equal Payments Program</h2>
            <table class="table table-bordered rate-cards-table table-no-interest">
                <tbody>
                <tr>
                    <th>Loan Term/Amortization</th>
                    <td>24/24</td>
                    <td>36/36</td>
                </tr>
                <tr>
                    <th>Dealer Cost</th>
                    <td>8.60&nbsp;%</td>
                    <td>12.30&nbsp;%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h2 class="dealnet-middle-header">Deferral Program</h2>
            <table class="table table-bordered rate-cards-table table-deferral">
                <tbody>
                <tr>
                    <th>Period</th>
                    <td>Dealer Cost</td>
                    <td>6 month</td>
                    <td>12 month</td>
                </tr>
                <tr>
                    <th>Dealer Cost</th>
                    <td>2.50&nbsp;%</td>
                    <td>5.00&nbsp;%</td>
                    <td>9.70&nbsp;%</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <a class="btn dealnet-button dealnet-success-button" href="@Url.Action("NewSecondStep", "NewRental")">Back to the 2 step</a>
</div>


@section scripts
{

<script type="text/javascript">
    $(document).ready(function(){
        $('.rate-cards-table .chosen-cell').each(function(){
            var chosenIcon = '<svg aria-hidden="true" class="icon icon-success"><use xlink:href="'+urlContent+'Content/images/sprite/sprite.svg#icon-success"></use></svg>';
            $(this).prepend(chosenIcon)
        });
    });


</script>
}


