Great work!
Rental Agreement submitted successfully!

Thank you Donald Duck, for completing the rental agreement. You will receive an email shortly at @ViewBag.HomeOwnerEmail containing a copy of the completed agreement.

<div>
    <a href="@Url.Action("BasicInfo")">
        Create another rental agreemnet for this home owner
    </a>
</div>