@{
    Layout = null;    
}
<div class="new-notification-wp">
    <div class="new-notification">
        <span class="new-notification__left-icon-block">
            <i class="notification-alert-ico"></i>
        </span>
        <span class="new-notification__message">Due to planned maintenance, our site will be unavailable starting from 16/03/2017 at 10 PM EDT until 17/03/2017 at 5 AM EDT.</span>
        <i class="close-white-ico"></i>
    </div>
</div>
