@{
    Layout = null;    
}
<div class="row" id="alertLine">

    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <style>
            .bannerList {
                list-style: none;
                text-align: left;
            }
            .bannerListItems {
                margin: 10px 0px;
            }
            .bannerRed {
                color: red;
            }
            .OneDayLeft {
                color: forestgreen;
                font-size:large;
            }
        </style>
        <div>
            <h4><strong>Looking to Make Things Easier…</strong></h4>
            <ul class="bannerList">
                <li class="bannerListItems">
                    <strong>- Easier to stay current:</strong> Who doesn’t like pictures? Get greeted with a visual banner to add to our text box communication efforts. What’s new? Let us show you!
                </li>
                <li class="bannerListItems">
                    <strong>- Easier to reference deals:</strong> What is happening with my deals? No more hunting, all account activity in one spot! How could we make is even easier to say? You guessed it! Colour coding (green, yellow, red) to highlight status.
                </li>
                <li class="bannerListItems">
                    <strong>- Easier to find help:</strong> Need help or answers? We are now a click away! Credit questions, Funding questions, Portal questions - click the right support icon and let us know how we can help! Heck…click the wrong one and we’ll help!

                </li>
                <li class="bannerListItems">
                    <strong>- Easier to complete credit application and loan agreement (Nov 15th):</strong> No pen? No problem! Use the internet on your whatever (cell, tablet, laptop). Apply like you do today - when approved, send an e-mail to the Applicant(s) and use
                    the preferred security of DocuSign to capture the digital signature(s)! They sign, You sign…done (auto uploads)! For More information, check out the Resources space or reach out to your dedicated support.


                </li>
            </ul>

            <strong>Your business is very valuable to us - we’re working hard to make things Easier!</strong>

        </div>
    </div>
</div>
    