<div class="panel customer-loan-form-panel panel-collapsed">
    <div class="panel-heading">
        <span class="panel-step">6</span>
        <h3 class="panel-title dealnet-middle-header">Acknowledgment</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
    </div>
    <div class="panel-body">
        <p>By executing below, the Principal in his or her personal capacity (“I”, “me”) and the company (“We”) certify that all the information contained in this Dealer Application is true and complete. </p>
        <div class="onboard-owners-hold">
            <div class="onboard-owners-row">
                <div class="onboard-owners-col name-col">
                    <span class="onboard-owners-label">
                        Owner:
                    </span>
                    <span class="onboard-owners-value">
                        &nbsp;JOE DOE
                    </span>
                </div>
                <div class="onboard-owners-col date-col">
                    <span class="onboard-owners-label">
                        Date:
                    </span>
                    <span class="onboard-owners-value">
                        &nbsp;21.07.2017
                    </span>
                </div>
                <div class="onboard-owners-col agree-col">
                    <label class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" />
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <span class="mandatory-field"> I acknowledge and agree</span>
                    </label>
                </div>
            </div>
            <div class="onboard-owners-row">
                <div class="onboard-owners-col name-col">
                    <span class="onboard-owners-label">
                        Owner:
                    </span>
                    <span class="onboard-owners-value">
                        &nbsp;BEN RICHARDSON
                    </span>
                </div>
                <div class="onboard-owners-col date-col">
                    <span class="onboard-owners-label">
                        Date:
                    </span>
                    <span class="onboard-owners-value">
                        &nbsp;21.07.2017
                    </span>
                </div>
                <div class="onboard-owners-col agree-col">
                    <label class="align-middle custom-checkbox">
                        <input type="checkbox" class="dealnet-checkbox" />
                        <span class="checkbox-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
                        <span class="mandatory-field">I acknowledge and agree</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
