<div class="panel customer-loan-form-panel panel-collapsed">
    <div class="panel-heading">
        <span class="panel-step">5</span>
        <h3 class="panel-title dealnet-middle-header">Trade references</h3>
        <span class="arrow"><i class="glyphicon"></i></span>
        <span class="passed-step-icon"><svg aria-hidden="true" class="icon icon-checked"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-checked")"></use></svg></span>
    </div>
    <div class="panel-body">
        <div class="placeholder-text">This section is optional for you</div>
        <div id="references-container"></div>
        <div class="action-link-holder flex-centered-text">
            <a class="action-link" id="add-reference-link" onClick="addTradeReference()">
                <svg aria-hidden="true" class="icon icon-add-app"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/client/Content/images/sprite/sprite.svg#icon-add-app"></use></svg>
                <span>Add reference</span>
            </a>
            <div class="well danger-well">
                <svg aria-hidden="true" class="icon icon-info-well"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-info-well")"></use></svg>
                In order to submit application you need to add additional reference
            </div>
        </div>
    </div>
</div>
