#owner-info {
    margin-top: 27px;
}

#basic-info {
    margin-top: 6px;
}

#owner-info-label {
    margin-top: 27px;
}

#scanlicense-button {
    margin-top: 16px;
}

#add-additional-applicant {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    color: #38aaee;
    margin-top: 26px;
}

#add-additional-applicant > p > img {
    margin-right: 9px;
    margin-top: -2px;
}

#address-info-label {
    margin-top: 37px;
}

#address-info1 {
    margin-top: 37px;
}

#address-info2 {
    margin-top: 16px;
}

#mailing-adress-different {
    margin-top: 25px;
}

#mailing-adress-different > input{
    margin-right: 9px;
    vertical-align: top;
}

#saveproceed-button {
    margin-top: 15px;
}

#mailing-adress1 {
    margin-top: 16px;
}

#mailing-adress2 {
    margin-top: 16px;
}

.clear-address {
    vertical-align: central;
    margin-top: 28px;
    cursor: default;
    display: inline-block;
}

.clear-address > div {
    margin-top: -4px;
    margin-right: 7px;
}
