.dealnet-field-caption {
    display: inline-block;
    text-align: left;
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
}
.dealnet-field-holder {
    display: inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    float: right;
    clear: right;


}

.dealnet-field-holder a{
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;


}

.bold {
    font-weight: bold;
    font-size: 17px;
}

.dealnet-button {
    margin-top: 50px;
}

#editor-modal .modal-footer {
    text-align: center;
}

#editor-modal .modal-dialog {
    width: 100% !important;
    margin-top: 65px !important;
}

.dealnet-disabled-input{
    border: none;
    background: none;
    text-align: right;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
}

.dealnet-modal-section{
    border: none !important;
    margin-top: 10px !important;
    padding-right: 10px !important;
}

.dealnet-modal-section>div {
    text-align: left !important;
}

.dealnet-modal-section .dealnet-field-caption {
    display: block !important;
}

@media(max-width: 480px) {
    .dealnet-credit-check-section {
        padding-right: 0 !important;
        border: none !important;
        

    }
    
}

#editor-modal .modal-footer .dealnet-button {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#editor-modal .modal-body {
    padding-top: 0px;
}

.dealnet-modal-section input{
    display: block !important;
    width: 100% !important;
}

.dealnet-modal-section .dealnet-field-holder {
    float: none !important;
    width: 100% !important;
}

.dealnet-modal-section>div:first-child {
    display: none !important;
}

.dealnet-credit-check-section {
    width: 100%;
    padding-right: 100px;
    margin-top: 50px;
}

dealnet-credit-check-section .dealnet-field-caption:first-child {
    font-weight: bold;
}


.dealnet-credit-check-section>div {
    margin-top: 20px;
}

.row .dealnet-credit-check-section:nth-child(odd) {
    border-right: 1px solid black;
}




