.dealnet-page-button {
    border-radius: 4px;
    background-color: #61c53c;
    box-shadow: 0 1px 0 0 #42a01f;
    line-height: 89px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.dealnet-chart-switch-button {
    width: 120px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-family: Lato;
    font-size: 18px;
    text-align: center;
    color: #525251;
    margin-right: 25px;
    margin-bottom: 
}

.dealnet-chart-switch-button:hover {
    border: solid 1px #f0f0f0;
    border-radius: 4px;
}

.dealnet-chart-switch-button-selected {
    border-radius: 4px;
    height: 40px;
    border: solid 1px #dcdcdc;
    font-weight: bold;
    line-height: 40px;
}
.dealnet-home-page .row {
    margin-top: 21px;
}

.dealnet-home-page .row {
    margin-top: 21px;
}
