<div class="rate-card table-mode shown-card">
  <div class="rate-card-header equal-height-row-1">
    <h4 class="card-title">CUSTOM</h4>
  </div>
  <hr>
  <div class="row row-mode">
    <div class="col-md-6 col-cards-md-12 equal-height-row-2 row-mode">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="">Loan Term</label>
            <div class="control-group">
              <input type="text" class="form-control" id="СustomLoanTerm">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="">Amort. Term</label>
            <div class="control-group">
              <input type="text" class="form-control" id="СustomAmortTerm">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-cards-md-12 equal-height-row-3 col-sm-6">
      <div class="clearfix">
        <div class="form-group">
          <label for="">Deferral Period</label>
          <div class="control-group">
            <select name="" class="form-control" id="СustomDeferralPeriod">
              <option value="0">- No Deferral -</option>
              <option value="3">3 month</option>
              <option value="6">6 month</option>
              <option value="9">9 month</option>
              <option value="12">12 month</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-cards-md-12 equal-height-row-4 row-mode">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="">Customer Rate</label>
            <div class="control-group has-addon-right">
              <input type="text" class="form-control" id="СustomCustomerRate"/>
              <div class="control-group-addon">%</div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="">Your Cost</label>
            <div class="control-group has-addon-right">
              <input type="text" class="form-control" id="СustomYourCost"/>
              <div class="control-group-addon">%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-cards-md-12">
      <div class="row form-group align-middle">
        <div class="col-xs-6">Admin Fee</div>
        <div class="col-xs-6 control-cell">
          <div class="control-group has-addon-left">
            <div class="control-group-addon">$</div>
            <input type="text" class="form-control dealnet-input" id="СustomAdminFee">
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Monthly Payment</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomMPayment"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Cost of Borrowing</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomCBorrowing"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Your Cost</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomYCost"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total Amount Financed</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomTAFinanced"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total of All Monthly Payments</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomTMPayments"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Balance Owing at the End of Monthly Payments</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomRBalance"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total Obligation</div>
        <div class="col-xs-6 text-right text-semibold" id="СustomTObligation"></div>
      </div>
    </div>
  </div>
  <button class="btn dealnet-button dealnet-success-button btn-select-card">Select</button>
</div>
