<div class="rate-card table-mode">
  <div class="rate-card-header equal-height-row-1">
    <h4 class="card-title">DEFERRAL</h4>
  </div>
  <hr>
  <div class="equal-height-row-2">
    <div class="form-group">
      <label for="">Loan/Amortization Term</label>
      <select class="form-control" id="deferralLATerm" name="">
        <option>36/36</option>
        <option>24/24</option>
        <option>12/24</option>
        <option>12/12</option>
      </select>
    </div>
  </div>
  <div class="equal-height-row-3">
    <div class="clearfix">
      <div class="form-group">
        <label for="">Deferral Period</label>
        <select class="form-control" id="" name="">
          <option selected="selected">3 month</option>
          <option>36/36</option>
        </select>
      </div>
    </div>
  </div>
  <div class="equal-height-row-4">
    <div class="row form-group">
      <div class="col-xs-6">Customer Rate</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralCRate"></div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Your Cost</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralYCostVal"></div>
    </div>
  </div>
  <hr>
  <div class="">
    <div class="row form-group align-middle">
      <div class="col-xs-6">Admin Fee</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralAFee">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Monthly Payment</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralMPayment">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Cost of Borrowing</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralCBorrowing">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Your Cost</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralYCost">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Total Amount Financed</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralTAFinanced">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Total of All Monthly Payments</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralTMPayments">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Balance Owing at the End of Monthly Payments</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralRBalance">-</div>
    </div>
    <div class="row form-group">
      <div class="col-xs-6">Total Obligation</div>
      <div class="col-xs-6 text-right text-semibold" id="deferralTObligation">-</div>
    </div>
  </div>
  <button class="btn dealnet-button dealnet-success-button btn-select-card">Select</button>
</div>
