@using DealnetPortal.Api.Common.Enumeration
@model RateCardType

@{
    var amortizationSelectList = ((Dictionary<RateCardType, SelectList>)ViewBag.AmortizationTerm).Where(x => x.Key == Model).SelectMany(x => x.Value);
}
<li>
  <div class="rate-card table-mode">
    <div class="equal-height-row-1">
      <div class="rate-card-header">
        <span class="promo-label hidden" id="NoInterestPromo">Promo</span>
        <h4 class="card-title">0% EQUAL PAYMENTS</h4>
      </div>
    </div>
    <hr>
    <div class="equal-height-row-2">
      <div class="form-group">
        <label for="">Loan/Amortization Term</label>
        @Html.DropDownList(Model + "Amortization", amortizationSelectList, new { @class = "form-control", id = Model + "AmortizationDropdown" })
      </div>
    </div>
    <div class="equal-height-row-3">
      <div class="clearfix form-group"></div>
    </div>
    <div class="equal-height-row-4">
      <div class="clearfix">
        <div class="row form-group">
          &nbsp;
          <div class="col-xs-6 hidden">Your Cost</div>
          <div class="col-xs-6 text-right text-semibold hidden" id="NoInterestYCostVal"></div>
        </div>
        <div class="row form-group">
          <div class="col-xs-6">Customer Rate</div>
          <div class="col-xs-6 text-right text-semibold" id="NoInterestCRate"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="">
      <div class="row form-group align-middle">
        <div class="col-xs-6">Admin Fee</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestAFee"></div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Monthly Payment</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestMPayment">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Cost of Borrowing</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestCBorrowing">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Your Cost</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestYCost">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total Amount Financed</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestTAFinanced">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total of All Monthly Payments</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestTMPayments">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Balance Owing at the End of Monthly Payments</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestRBalance">-</div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">Total Obligation</div>
        <div class="col-xs-6 text-right text-semibold" id="NoInterestTObligation">-</div>
      </div>
    </div>
    <div id="hidden-option" class="hidden">NoInterest</div>
    <button class="btn dealnet-button dealnet-success-button btn-select-card">
      Select
    </button>
  </div>
</li>