<div class="body-dark-overlay"></div>
<header>
    <div class="header__background">
        <div class="container">
            <div class="header__logo">
                <a href="home/">
                    <img class="header__logo-img" src="img/logos/logo-eco-home@2x.png" />
                </a>
            </div>

            <div class="header__right-panel hidden-xs">
                <div class="visible-lg-block">
                    <div class="header__language pull-right">
                        <div class="dropdown dropdown-custom">
                            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                En
                            </div>
                            <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#">En</a>
                                </li>
                                <li>
                                    <a href="#">Fr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__language pull-right">
                        <div class="dropdown dropdown-custom">
                            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                John Domes
                            </div>
                            <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__help">
                    How can we help?
                    <div class="clearfix"></div>
                    <span class="header__phone">1-866-382-7468</span>
                </div>
                <div class="clearfix visible-lg-block"></div>
                <div class="header__support">
                    <ul class="header__support-links-list">
                        <li>
                            <span class="icon-support"></span>
                            <a href="#">
                                Credit
                            </a>
                        </li>
                        <li>
                            <span class="icon-dealer-support"></span>
                            <a href="#">
                                Dealer Support
                            </a>
                        </li>
                        <li>
                            <span class="icon-customer-service-support"></span>
                            <a href="#">
                                Customer Service/Funding
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__actions-tablet visible-md-block visible-sm-block">
                <div class="header__language pull-right">
                    <div class="dropdown dropdown-custom">
                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            En
                        </div>
                        <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#">En</a>
                            </li>
                            <li>
                                <a href="#">Fr</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__language pull-right">
                    <div class="dropdown dropdown-custom">
                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            John Domes
                        </div>
                        <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#">Settings</a>
                            </li>
                            <li>
                                <a href="#">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>

            <nav class="header__navigation hidden-xs">
                <ul>
                    <li>
                        <a class="active">
                            <span class="header__nav-icon icon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-new_document"></span>
                            <span>New Loan</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-new_document"></span>
                            <span>New Rental</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-calculator"></span>
                            <span>Calculator</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-customer-link"></span>
                            <span>Customer Link</span>
                        </a>
                    </li>
                    <li>
                        <a class="active">
                            <span class="header__nav-icon icon-deals"></span>
                            <span>My Deals</span>
                            <div class="notification">
                                <div>5 new</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-cart"></span>
                            <span>Leads</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-library"></span>
                            <span>Library</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="header__nav-icon icon-profile"></span>
                            <span>My Profile</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="mobile-help hidden-sm-up" id="mobile-navigation-help">
                <span class="icon-how-can-we-help"></span>
                <div name="select-help" id="" class="mobile-help__toggle">
                    How can we help?
                </div>
                <div class="mobile-navigation__dropdown">
                    <ul>
                        <li>
                            <span class="icon-support"></span>
                            <a href="#">
                                Credit
                            </a>
                        </li>
                        <li>
                            <span class="icon-dealer-support"></span>
                            <a href="#">
                                Dealer Support
                            </a>
                        </li>
                        <li>
                            <span class="icon-customer-service-support"></span>
                            <a href="#">
                                Customer Service/Funding
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-help__phone">
                        1-866-382-7468
                    </div>
                </div>
            </div>

            <nav class="mobile-navigation hidden-sm-up" id="mobile-navigation">
                <div class="mobile-navigation__active-item">
                    <span class="mobile-navigation__nav-icon icon-home"></span>
                    <span>Home</span>
                </div>
                <div class="mobile-navigation__dropdown">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mobile-navigation__nav-icon icon-home"></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-new_document"></span>
                                <span>New Loan</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-new_document"></span>
                                <span>New Rental</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-calculator"></span>
                                <span>Calculator</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-customer-link"></span>
                                <span>Customer Link</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-deals"></span>
                                <span>My Deals</span>
                                <div class="notification">5 new</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-cart"></span>
                                <span>Leads</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-library"></span>
                                <span>Library</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="mobile-navigation__nav-icon icon-profile"></span>
                                <span>My Profile</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-navigation__action-block">
                        <div class="dropdown dropdown-custom">
                            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                En
                            </div>
                            <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#">En</a>
                                </li>
                                <li>
                                    <a href="#">Fr</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mobile-navigation__user">
                        John Domes
                        <a class="mobile-navigation__logout">Log Out</a>
                    </div>
                </div>
            </nav>

            <div class="clearfix"></div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
