@{
    ViewBag.Title = "About us";
}
<h2 class="dealnet-large-header">@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed sem nec nunc pulvinar luctus sed eget est. Nunc elementum porttitor mi in aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis erat non dui blandit viverra ut sit amet velit. Ut quis metus tellus. Aliquam elementum eget elit in rhoncus. Vivamus convallis varius mattis.</p>
<br />
<h2 class="dealnet-large-header">Contact us</h2>
<ul class="contact-info-list">
    <li class="contact-tel">555-444-1234</li>
    <li class="contact-email"><a href="mailto:1111111@email.com" class="dealnet-info-link"><svg aria-hidden="true" class="icon icon-email"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-email"></use></svg><span>1111111@email.com</span></a></li>
</ul>