
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resources</h2>
<div>
	<ul>
		<li>
			<a href="~/Content/files/About-EcoHome-Financial.pdf" target="_blank">About EcoHome Financial</a>
		</li>
		<li>
			<a href="~/Content/files/Consumer-Loan-Agreement.pdf" target="_blank">Consumer Loan Agreement</a>
		</li>
		<li>
			<a href="~/Content/files/Help.pdf" target="_blank">Portal User Guide</a>
		</li>
		<li>
			<a href="~/Content/files/Loan-Agreement-Changes-From-August-To-September.pdf" target="_blank">Loan Agreement changes from August to September</a>
		</li>
		<li>
			<a href="~/Content/files/Myhome-Wallet-Detailed-Description.pdf" target="_blank">Myhome Wallet detailed description</a>
		</li>
		<li>
			<a href="~/Content/files/Myhome-Wallet-Short-Description.pdf" target="_blank">Myhome Wallet short description</a>
		</li>
		@*<li>
			<a href="~/Content/files/Portal-User-Guide.pdf" target="_blank">Portal User Guide</a>
		</li>*@
		<li>
			<a href="~/Content/files/Summer-Fall-2017-Promotion.pdf" target="_blank">Summer-Fall 2017 Promotion</a>
		</li>
	</ul>

</div>

