
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Library</h2>
<div>
	<ul>
		<li>
			<a href="~/Content/files/Help.pdf" target="_blank">Help File [pdf]</a>
		</li>
		<li>
			<a href="~/Content/files/1.pdf" target="_blank">Rate Card</a>
		</li>
		<li>
			<a href="~/Content/files/2.pdf" target="_blank">Excel Calculator</a>
		</li>
		<li>
			<a href="~/Content/files/3.pdf" target="_blank">Blank Contract</a>
		</li>
		<li>
			<a href="~/Content/files/4.pdf" target="_blank">Sample File</a>
		</li>
		<li>
			<a href="~/Content/files/5.pdf" target="_blank">Sample File</a>
		</li>
		<li>
			<a href="~/Content/files/6.pdf" target="_blank">Sample File</a>
		</li>
		<li>
			<a href="~/Content/files/7.pdf" target="_blank">Sample File</a>
		</li>

	</ul>

</div>

