@using DealnetPortal.Web.Common.Constants

@model Dictionary<string, string>
@{
    ViewBag.Title = Resources.Library;
    bool useNew;
    Boolean.TryParse(System.Configuration.ConfigurationManager.AppSettings[PortalConstants.NewDesignLogin], out useNew);
    if(!useNew)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NewLayout.cshtml";
    }
}

<div class="dealnet-large-header">@Resources.Library</div>

<div>
    <ul>
        @foreach(var doc in @Model)
        {
            <li>
                <a href="@Url.Content(doc.Key)" target="_blank">@doc.Value</a>
            </li>
        }
    </ul>
</div>

