@model Dictionary<string, string>
@{
    ViewBag.Title = Resources.Library;
}

<div class="dealnet-large-header">@Resources.Library</div>

<div>
    <ul>
        @foreach(var doc in @Model)
        {
            <li>
                <a href="@Url.Content(doc.Key)" target="_blank">@doc.Value</a>
            </li>
        }
    </ul>
</div>

