@model Dictionary<string, string>
@{
	ViewBag.Title = Resources.Library;
}

<h2>@Resources.Library</h2>

<div>
    <ul>
        @foreach (var doc in @Model)
        {
            <li>
                <a href="@Url.Content(doc.Key)" target="_blank">@doc.Value</a>
            </li>
        }
    </ul>
</div>

