@using System.Security.Claims

@model Dictionary<string, List<DealnetPortal.Web.Models.ResourceListModel>>

@{
    ViewBag.Title = Resources.Library;
    if (User.Identity.IsAuthenticated && ((User as ClaimsPrincipal)?.IsInRole("MortgageBroker") == true))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NewLayout.cshtml";
    }
}

<div class="dealnet-large-header">@Resources.Library</div>
@if (Model != null)
{
    foreach (var key in Model.Keys)
    {
        if (key != "NO_DIR")
        {
           <h3>@key</h3>
        }
        <ul>
            @foreach (var doc in Model[key])
            {
                <li>
                    <a href="@Url.Content(doc.FilePath)" target="_blank">@doc.FileName</a>
                </li>
            }
        </ul>
    }
}

