@using System.Security.Claims

@model Dictionary<string, string>

@{
    ViewBag.Title = Resources.Library;
    if(User.Identity.IsAuthenticated && ((User as ClaimsPrincipal)?.IsInRole("MortgageBroker") == true))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_NewLayout.cshtml";
    }
}

<div class="dealnet-large-header">@Resources.Library</div>

<div>
    <ul>
        @foreach(var doc in @Model)
        {
            <li>
                <a href="@Url.Content(doc.Key)" target="_blank">@doc.Value</a>
            </li>
        }
    </ul>
</div>

