<% layout('_layouts/default') -%>
<% title = "DealNet home" -%>
<div class="custom-container">
  <a class="main-banner" href="#" style="background-image: url('../img/banner.png');"></a>
</div>
<div class="container-fluid custom-container">
  content
</div>
