<div id="personal-data-used" style="display: none;">
    <h2>Collection, Use and Disclosure of Personal Information</h2>
    <p>EcoHome Financial may collect, use and disclose personal information provided by you on this application, obtained as part of the application process (including from credit reporting agencies and other sources) and/or, if your application is approved, obtained from time to time in the administration or operation of your account, for some or all of the following purposes:</p>
    <ul>
        <li>
            to verify your identity and information provided by you, such as your employment or credit history
        </li>
        <li>
            to evaluate your credit-worthiness
        </li>
        <li>
            to process your application, determine your eligibility for any product or service you may request, and, if your application is approved, to open, administer and operate your account
        </li>
        <li>
            to respond to your requests for products, services or other information
        </li>
        <li>
            to enable us and, as applicable, our third party service providers and vendors to provide you with products and ongoing services
        </li>
        <li>
            to verify your instructions
        </li>
        <li>
            to protect against errors and fraud
        </li>
        <li>
            to investigate complaints
        </li>
        <li>
            to satisfy regulatory or legal reporting requirements
        </li>
        <li>
            as otherwise permitted or required by law
        </li>
    </ul>
    <p>In addition, personal information may be exchanged with credit reporting agencies, credit bureaus, credit insurers and other financial institutions to maintain the integrity of the credit-granting process and determine eligibility for financial products and services.</p>
    <br>
    <p>By submitting this application, you consent to and authorize such collection, use and disclosure.</p>
</div>
