@using System.Security.Claims;
<div id="personal-data-used" style="display: none;">
    @Html.Raw((bool)((ClaimsPrincipal)User)?.HasClaim("QuebecDealer", "True") ? @Resources.AgreementPersonalDataQC : @Resources.AgreementPersonalData)
</div>
