@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!--<h1 class="text-danger">Error.</h1>-->
<h2 class="dealnet-large-header">Errors</h2>
<ul class="list-unstyled">
    <li class="well danger-well">
        <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
        Lorem ipsum dolor sit amet.
    </li>
    <li class="well danger-well">
        <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
        Lorem ipsum dolor sit amet.
    </li>
    <li class="well danger-well">
        <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
        Lorem ipsum dolor sit amet.
    </li>
    <li class="well danger-well">
        <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
        Lorem ipsum dolor sit amet.
    </li>
</ul>

