
@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
<div class="dropdown dealnet-login-buttons">
    <a href="#" class="dropdown-toggle dealnet-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="icon-circle-hold"><i class="glyphicon glyphicon-user"></i></span>
        @if (User.Identity.IsAuthenticated)
        {
            @User.Identity.Name
        }
        else
        {
            @:Anonymous
                            }
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "dealnet-link" })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "dealnet-link" })
            </li>
            <li>
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "dealnet-link" })
            </li>
        }
    </ul>
</div>
}