@{
	ViewBag.Title = Resources.Error;
}
<div class="page-container">
	<ul class="list-unstyled">
		<li class="well danger-well error-descr">
			<svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
			@Resources.Error
		</li>
	</ul>
</div>
@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			ga('send', 'event', 'Error Page', 'Info/AnonymousError', '@(User.IsInRole(DealnetPortal.Api.Common.Enumeration.UserRole.Dealer.ToString())? "Dealer" : "Broker" ) : @User.Identity.Name');
		});
	</script>
}
