@{
    ViewBag.Title = Resources.Error;
}

<div class="page-container">
    <ul class="list-unstyled">
        <li class="well danger-well error-descr">
            <svg aria-hidden="true" class="icon icon-error"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-error")"></use></svg>
            @Resources.Error
        </li>
    </ul>
</div>

