@{
ViewBag.Title = "Apply for financing";
}

<div class="customer-loan-success-page align-middle-section">
    <div class="align-middle-inner">
        <svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
        <h2 class="page-heading">Congratulations, you have been pre-approved for $15,000.</h2>
        <p>Your financing application was successfully submitted. Toronto Roofing Company will contact you soon.</p>

        <div class="contact-section">
            <div>If you have any question please contact:</div>
            <div class="vcard">
                <div class="fn org">Toronto Roofing Company</div>
                <div class="adr">
                    <span class="street-address">411 Lawrence Ave W North York</span>,
                    <span class="locality hidden">Toronto</span>
                    <span class="region">ON</span> <span class="postal-code">M5M 1C1</span>
                </div>
                <div>Phone: <a href="tel:+1234567890" class="tel" rel="nofollow"><span class="type hidden">Work</span>1234567890</a></div>
                <div>Fax: <a href="tel:+1234567890" class="tel" rel="nofollow"><span class="type hidden">Fax</span>1234567890</a></div>
                <div>Mail: <a class="email" href="mailto:some@email.com">some@email.com</a></div>
            </div>
        </div>
    </div>
</div>

