
@{
    ViewBag.Title = "Apply for financing";
}

<div class="customer-loan-page">
    <h2>Apply for financing</h2>
    <div class="equipment-customer-section">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="">What equipment/service are you interested in?</label>
                    <div class="control-group">
                        <select class="form-control">
                            <option value="">-not selected-</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customer-loan-form-steps">
        <div class="panel customer-loan-form-panel">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="panel-step">1</span>Your Information</h3>
                <span class="pull-right panel-arrow"> > </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="First Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <div class="control-group">
                                <input type="text" class="form-control dealnet-input" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Date of Birth</label>
                            <div class="control-group date-group">
                                <input type="text" class="form-control dealnet-input" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

