body{
  -webkit-font-smoothing: antialiased;
}

.login-container{
  max-width: 380px;
  margin: 0 auto;
  .dealnet-button{
    display: block;
    margin: 0 auto;
    max-width: 380px;
    width: 100%;
    font-weight: 700;
  }
  @media (max-width: 1023px) {
    max-width: 500px;
  }
  @media (min-width: 1024px) {
    margin-top: 50px;
  }


  .dealnet-large-header{
    text-align: center;
    margin-bottom: 50px;
  }
}