@usual-font-family: 'Mukta', sans-serif;

.dealnet-success-button {
    box-shadow:none;
    &:hover{
        box-shadow: none;
    }
}

.control-group.has-addon-left .control-group-addon,
.control-group.has-addon-right .control-group-addon {
    line-height: 35px;
}