body {
    font-family: 'Mukta', sans-serif;
}

.body-container {
    padding-top: 10px;
}

.custom-container {
    max-width: 1030px;
    margin: 0 auto;
    &.table-page {
        max-width: 1280px;
    }
}

//just demo styles for UI kit
.margin-block {
    margin: 10px auto;
}
