.custom-pagination {
  &.pagination {
    a {
      border: 0;
      font-size: 16px;
      color: #5f5f5f;
      opacity: 0.52;
      padding: 0 8px;
      margin: 0 4px;

      &:hover {
        background-color: transparent;
      }
    }

    .active {
      a {
        opacity: 1;
        border-bottom: 2px solid #7cc501;
        background-color: transparent;

        &:hover {
          color: #5f5f5f;
        }
      }
    }

    .icon-pagination-left,
    .icon-pagination-right {
      line-height: 20px;

      &:before {
        font-size: 25px;
      }
    }
  }
}
