.custom-select-wrap {
  position: relative;

  label {
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    top: -8px;
    left: 9px;
    background: white;
  }

  .selectric {
    background-color: #ffffff;
  	border: solid 1px #ccdbec;
    height: 40px;

    .label {
      text-align: left;
      font-weight: 400;
      font-size: 13px;
      color: black;
      line-height: 20px;
      margin: 0 38px 0 0;
      height: 40px;
      border-radius: 0;
      vertical-align: middle;
      padding: 9px;
    }

    .button {
      background-color: white;

      &:after {
        border-top-color: #525251;
      }
    }
  }

  .selectric-open {
    z-index: 999;
  }

  .selectric-open,
  .selectric-items {
    box-shadow: 0 0 10px 0 rgba(110, 110, 110, 0.18);
  }

  .selectric-items {
    li {
      border-bottom: 1px solid #ccdbec;
      background-color: white;
      color: black;
      font-size: 13px;
    }
    li.highlighted,
    li:hover {
      background-color: #ccdcec0a;
    }
  }

}
