@media screen and (max-width: 767px) {
    .custom-container {
        max-width: 1030px;
        margin: 0 auto;
    }
    .body-container {
        margin-bottom: 60px;
    }
    .ios-device {
        padding-bottom: 60px;
    }
}
