@using DealnetPortal.Web.Models.Enumeration
@model DealnetPortal.Web.Models.EquipmentInformation.EquipmentInformationViewModel

<div class="row loan-element @(Model.AgreementType == AgreementType.LoanApplication ? "" : "hidden")">
  <div class="col-md-6">
    <div class="row form-group">
      <div class="col-xs-6">@Resources.DealerInvoiceAmount</div>
      <div class="col-xs-6 text-right text-stronger">
        $ <span id="totalEquipmentPrice">-</span>
      </div>
    </div>
    <div class="row form-group hidden">
      <div class="col-xs-6">@(Model.ProvinceTaxRate?.Description ?? Resources.Tax)</div>
      <div class="col-xs-6 text-right text-stronger">
        $ <span id="tax">-</span>
      </div>
    </div>
    <div class="row form-group hidden">
      <div class="col-xs-6">@Resources.TotalCashPrice</div>
      <div class="col-xs-6 text-right text-stronger">
        $ <span id="totalPrice">-</span>
      </div>
    </div>
  </div>
</div>