@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dmi30k");
  src: url("../fonts/icomoon.eot?dmi30k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dmi30k") format("truetype"), url("../fonts/icomoon.woff?dmi30k") format("woff"), url("../fonts/icomoon.svg?dmi30k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ask-help::before {
  content: "\e900";
}

.icon-check-mark::before {
  content: "\e901";
}

.icon-checkmark-2::before {
  content: "\e902";
}

.icon-circle-clock:before {
  content: "\e903";
}

.icon-close-tick::before {
  content: "\e904";
}

.icon-close-white::before {
  content: "\e905";
}

.icon-cross::before {
  content: "\e906";
}

.icon-dw-license::before {
  content: "\e907";
}

.icon-contract-edit::before {
  content: "\e908";
}

.icon-edit-pen::before {
  content: "\e909";
}

.icon-excel::before {
  content: "\e90a";
}

.icon-gear::before {
  content: "\e90c";
}

.icon-get-my-loc::before {
  content: "\e90d";
}

.icon-i-letter::before {
  content: "\e90e";
}

.icon-info-lg::before {
  content: "\e90f";
}

.icon-info-sm::before {
  content: "\e910";
}

.icon-lamp::before {
  content: "\e911";
}

.icon-notes-grey::before {
  content: "\e912";
}

.icon-notification-alert::before {
  content: "\e913";
}

.icon-search::before {
  content: "\e915";
}

.icon-e-sign::before {
  content: "\e916";
}

.icon-sort-arrows-lg::before {
  content: "\e917";
}

.icon-sort-asc-lg::before {
  content: "\e918";
}

.icon-sort-arrows-sm::before {
  content: "\e919";
}

.icon-upload-cloud::before {
  content: "\e91a";
}

.icon-customer-service-support:before {
  content: "\e91b";
  color: #97c501;
}

.icon-cart:before {
  content: "\e91c";
  color: #5d5d5d;
}

.icon-deals:before {
  content: "\e91d";
  color: #5d5d5d;
}

.icon-home:before {
  content: "\e91e";
  color: #5d5d5d;
}

.icon-library:before {
  content: "\e91f";
}

.icon-customer-link:before {
  content: "\e920";
  color: #5d5d5d;
}

.icon-new_document:before {
  content: "\e921";
  color: #5d5d5d;
}

.icon-profile:before {
  content: "\e922";
  color: #5d5d5d;
}

.icon-dealer-support:before {
  content: "\e923";
  color: #97c501;
}

.icon-support:before {
  content: "\e924";
  color: #97c501;
}

.icon-how-can-we-help:before {
  content: "\e925";
  color: #fff;
}

.icon-filter:before {
  content: "\e926";
  color: #ff5b40;
}

.icon-help-button:before {
  content: "\e927";
  color: #ff5b40;
}

.icon-pagination-left:before {
  content: "\e928";
  color: #7fc801;
}

.icon-pagination-right:before {
  content: "\e929";
  color: #7fc801;
}

.icon-add-app:before {
  content: "\e92a";
  color: #50b6f4;
}

.icon-sort-arrow-top {
  content: "\e92b"
}

.icon-delete-name:before {
  content: "\e92c";
  color: #dcdcdc;
}

.icon-calendar:before {
  content: "\e92d";
  color: #c2c8d0;
}

.icon-about:before {
  content: "\e92e";
  color: #5d5d5d;
}

.icon-calculator:before {
  content: "\e92f";
  color: #5d5d5d;
}

@media screen and (max-width: 1309px) and (min-width: 768px) {
  .main-banner {
    background-size: 100% 100%;
    height: 220px;
    margin: 0;
  }
}

@media screen and (max-width: 1309px) and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .header__navigation {
    margin-left: 15px;
    min-height: 74px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header__support {
    float: left;
  }
  .header__right-panel {
    float: left;
    width: auto;
    font-size: 12px;
  }
  .header__right-panel:before {
    display: none;
  }
  .header__right-panel .header__help {
    margin-left: 16px;
    float: left;
  }
  .header__right-panel .header__phone {
    font-size: 16px;
  }
  .header__actions-tablet {
    float: right;
  }
  .header__logo-img {
    margin-top: 0;
  }
  .header__navigation {
    margin-left: 0;
    min-height: 74px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header__support {
    float: left;
    margin: 5px 0 0 15px;
  }
}

/*# sourceMappingURL=styles-tablet.css.map */