<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DealnetPortal.Api-20160808043046.mdf;Initial Catalog=aspnet-DealnetPortal.Api-20160808043046;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=DealnetPortal; Integrated Security=True; Trusted_Connection=true" />
    <!--<add name="AspireConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS; Database=Aspire; Integrated Security=True; Trusted_Connection=true" />-->
    <add name="AspireConnection" providerName="System.Data.SqlClient" connectionString="Server=195.206.225.83; Database=Aspire; Integrated Security=false;User ID=dealnet;Password=!Q2w3e4r" />
  </connectionStrings>
  <appSettings>
    <!--this settings for authentification email service-->
    <add key="EmailService.FromEmailAddress" value="username@dataart.com" />
    <add key="EmailService.SmtpHost" value="mail.universe.dart.spb" />
    <add key="EmailService.SmtpPort" value="25" />
    <add key="EmailService.SmtpUser" value="" />
    <add key="EmailService.SmtpPassword" value="" />
    <add key="SecurityHelper.RandomPasswordLength" value="25" />
        
    <!--<add key="AuthProvider" value="Stub" />-->
    <add key="AuthProvider" value="AuthProvider" />

    <!--ENTER HERE Mailgun settings-->
    <add key="MailGun.ApiUrl" value="https://api.mailgun.net/v3/" />
    <add key="MailGun.ApiKey" value="key-7b6273c4442da6aaa9496eb3eed25036" />
    <add key="MailGun.Domain" value="sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org" />
    <add key="MailGun.From" value="postmaster@sandbox36ed7e337cd34757869b6c132e07e7b0.mailgun.org" />

    <!--ENTER HERE Aspire settings-->
    <add key="AspireApiUrl" value="https://ecohomefinancialtest.leaseteam.net" />
    <add key="AspireUser" value="Admin" />
    <add key="AspirePassword" value="b" />

    <!--ENTER HERE eCore digital signature settings-->
    <add key="eCoreApiUrl" value="https://previewondemand.eoriginal.com" />    
    <add key="eCoreUser" value="mkharlamov" />
    <add key="eCorePassword" value="mkharlamov" />
    <add key="eCoreOrganization" value="DealNet" />
    <add key="eCoreSignatureRole" value="Customer" />
    <add key="eCoreAgreementTemplate" value="Agreement" />
    <add key="eCoreCustomerSecurityCode" value="123" />

    <!--ENTER HERE DocuSign digital signature settings-->
    <add key="DocuSignApiUrl" value="https://demo.docusign.net/restapi" />
    <add key="DocuSignUser" value="6e72f464-38f8-406b-b1e0-a22138a426fa" />
    <add key="DocuSignPassword" value="Hiren1234" />
    <add key="DocuSignIntegratorKey" value="0e6011e4-80aa-4cd2-a7d3-45f9648f25be" />

    <!--Document upload status-->
    <add key="DocumentUploadStatus" value="32-Docs Received" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\service-log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="500KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="51200" />
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>