@{
    ViewBag.Title = "Shareable Link";
}
<div id="label-steps">
    <div class="dealnet-action-link">Shareable Link</div> >
</div>
<div class="dealnet-large-header main-heading">Shareable Link</div>

<div class="shareable-link-page">
    <div class="get-link-section">
        <div class="form-group">
            <div class="labels-hold">
                <label for="enLink" class="dealnet-field-caption">Form in English</label>
                <label class="checkbox-toggle">
                    <input type="checkbox" checked id="toggleEnLink">
                    <div class="slider"></div>
                </label>
            </div>
            <div class="controls-hold">
                <div class="control-group">
                    <input type="url" id="enLink" class="form-control dealnet-input" readonly="readonly" value="https://lorem_ipsum/lorem/Ipsum_sit_amed_wireframe_En">
                </div>
                <button type="button" class="btn dealnet-success-button btn-small" id="copyEn">Copy</button>
            </div>
        </div>
        <div class="form-group">
            <div class="labels-hold">
                <label for="frLink" class="dealnet-field-caption">Form in French</label>
                <label class="checkbox-toggle">
                    <input type="checkbox" id="toggleFrLink">
                    <div class="slider"></div>
                </label>
            </div>
            <div class="controls-hold">
                <div class="control-group">
                    <input type="url" id="frLink" class="form-control dealnet-input" readonly="readonly" value="https://lorem_ipsum/lorem/Ipsum_sit_amed_wireframe_Fr">
                </div>
                <button type="button" class="btn dealnet-success-button btn-small" id="copyFr">Copy</button>
            </div>
        </div>
    </div>
    <div class="equipment-section">
        <div class="sub-heading">Equipment/service</div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" id="englishBtn">
                <a href="#equipment-en" aria-controls="equipment-en" role="tab" data-toggle="tab">
                    English
                </a>
            </li>
            <li role="presentation" id="frenchBtn">
                <a href="#equipment-fr" aria-controls="equipment-fr" role="tab" data-toggle="tab">
                    French
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <div class="form-group">
                    <label for="enEquipmentTags" class="dealnet-field-caption">Define your equipment/service</label>
                    <div class="controls-hold">
                        <div class="control-group dropdown-container" id="equipmentContainer">
                            <input type="url" id="enEquipmentTags" class="form-control dealnet-input"  value="" placeholder="Type your equipment/service">
                        </div>
                        <button type="button" class="btn dealnet-success-button btn-small" id="addEquipment">Add</button>
                    </div>
                </div>
                <ul class="equipment-linked-tags tags-list" id="tagsList">
                </ul>
            </div>
        </div>
    </div>


    <div class="row save-proceed-btn-hold">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <button class="btn dealnet-button dealnet-success-button block-button" id="saveBtn">
                Save
            </button>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/shareable-link")
}