.dealnet-button{
  height: 39px;
  width: 235px;
  border-radius: 4px;
  &.big-green-button,
  &.big-button{
    width: 312px;
    height: 49px;
  }
  &.wide-button{
    width: auto;
  }
  &.block-button{
    width: 100%;
    display: block;
  }
}
.dealnet-success-button,
.dealnet-green-button{
  height: 39px;
  width: 235px;
  border-radius: 4px;
  background-color: @success-color;
  box-shadow: 0 1px 0 0 @success-shadow-color;
  vertical-align: middle;
  line-height: 24px;
  font-weight: 600;

  &.big-green-button,
  &.big-button{
    width: 312px;
    height: 49px;
  }
  &.wide-button{
    width: auto;
  }
  &.block-button{
    width: 100%;
    display: block;
  }

  &:active {
    background-color: @success-btn-active-color;
    outline: none;
    box-shadow: none;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
  &:focus{
    outline: none;
    color: @success-text-color;
    background-color: @success-color;
  }
  &:hover {
    background-color: @success-btn-hover-color;
    box-shadow: 0 1px 0 0 @success-shadow-color;
  }
  .icon, span{
    display: inline-block;
    vertical-align: middle;
  }
  .icon + span{
    margin-left: 10px;
  }


}
.dealnet-link-button{
  background: none;
  font-weight: 900;
  font-size: 16px;
  color: @button-link-color;
  &:hover{
    color: @button-link-hover-color;
    outline: none;
    text-decoration: none;
  }
  &:active,
  &:focus{
    outline: 0 !important;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    color: @button-link-active-color;
  }
}

.dealnet-green-button-text {
  font: 700 14px @usual-font-family;
  color: @success-text-color;
}

.button-container {
  &.bttns-center{
    text-align: center;
    .btn{
      display: inline-block;
      @media @mobile {
        display: block;
        width: 100%;
        height: 49px;
        line-height: 36px;
      }
    }
  }
}
.button-proceed{
  margin-top: 10px;
}