.rate-cards-container.carousel{
    .carousel-inner{
        .item{
            .rate-card-col{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .text-center{
                text-align: left;
            }
        }
    }
    .carousel-control{
        bottom: auto;
        top: 50%;
        height: 200px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &.right,
        &.left{
            display: none;
        }
    }
    .carousel-indicators{
        position: static;
        margin: 20px auto 0;
        li{
            background-color: #f0f0f0;
            padding: 5px;
            margin: 0 5px;
            &.active{
                background-color: @btn-success-bg;
            }
        }

    }
}
.btn-add-calc-option{
    margin: 20px 0 10px;
    width: 100%;
}
/*

.carousel {
    overflow: hidden;
}
.carousel-inner {
    padding: 0 20px;
    .item{
        & > .text-center{
            &:nth-child(2n),
            &:nth-child(3n){
                position: absolute;
                top: 0;
                width: 330px;
            }
            &:nth-child(2n){
                left: 95%;
            }
            &:nth-child(3n){
                right: 95%;
            }
        }
    }
}
*/

