body.modal-open .ui-datepicker{
  z-index: 1051 !important;
}
.ui-datepicker {
  font: 14px @usual-font-family;
  &.ui-widget-content{
    border-color: @default-grey-color;
    padding: 10px 10px 5px;
    border-radius: 4px;
    width: 320px;
    z-index: 50 !important;
    @media @mobile {
      width: 290px;
    }
  }
  &.cards-datepicker{
    @media @mobile {
      margin-left: -15px;
    }
  }
  table{
    margin: 0;
    td{
      padding: 0;
      a{
        display: block;
        margin: 0 auto;
      }
    }
  }
  .ui-datepicker-title{
    margin: 0 !important;
    .ui-datepicker-month{
      font: bold 16px/22px @usual-font-family !important;
      position: absolute;
      left: 0;
      margin: 0 25px;
      width: 90px;
    }
    .ui-datepicker-year{
      float: right;
      width: 60px;
      margin: 3px 0 0;
    }
    select{
      border: 0;
      font: bold 14px @usual-font-family !important;
    }
  }
  
  .ui-datepicker-header {
    padding-bottom: 10px !important;
    margin: 0 -10px 10px;
    background: transparent;
    border: 0;
    color: #525251;
    border-radius: 0;
    border-bottom: 1px solid @default-grey-color;
  }
  th{
    color: #525251;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active{
    background: transparent !important;
    border: 0 !important;
    text-align: center;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    line-height: 24px;
    box-sizing: border-box;
    &:hover{
      background: #ccc;
    }
  }

  .ui-state-active{
    color: #fff !important;
    background-color: @btn-success-bg !important;
  }

  .ui-state-highlight{
    background-color: transparent !important;
    color: #454545 !important;
    border: 1px solid @default-grey-color !important;
    &.ui-state-active{
      border-color: transparent !important;
      color: #fff !important;
      background-color: @btn-success-bg !important;
    }
  }
  .ui-state-hover{
    background: @default-grey-color !important;
  }

  .ui-datepicker-prev{
    &:hover{
      background: none !important;
      border: 1px solid @default-grey-color !important;
      left: 2px !important;
      top: 2px !important;
    }
  }
  .ui-datepicker-next{
    left: 112px;
    right: auto !important;
    &:hover{
      background: none !important;
      border: 1px solid @default-grey-color !important;
      left: 112px !important;
      top: 2px !important;
      right: auto !important;
    }
  }
  .ui-datepicker-prev span,
  .ui-datepicker-next span{
    border: 0;
    background: none;
    height: 12px;
    margin-top: -6px !important;
    margin-left: -6px !important;

  }
  .ui-datepicker-next span{

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 3px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:after {
      top: 1px;
      margin-left: -1px;
      border-color: transparent transparent transparent #fff;
      border-width: 5px;
    }

    &:before {
      top: 0;
      border-color: transparent transparent transparent #525251;
      border-width: 6px;
    }
  }

  .ui-datepicker-prev span{
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -3px;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &:after {
      top: 1px;
      margin-left: 3px;
      border-width: 5px;
      border-color: transparent #fff transparent transparent;
    }

    &:before {
      top: 0;
      border-color: transparent #525251 transparent transparent;
      border-width: 6px;
    }
  }
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
  margin-left: 15px;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month{
  left: 15px;
}

  .ui-datepicker-title{
    padding-right: 20px;
    select{
      z-index: 5;
      background: transparent;
      position: relative;
    }
    &:after{
      content: '';
      position: absolute;
      right: 24px;
      top: 50%;
      z-index: 1;
      margin-top: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: @default-dark-grey-color transparent transparent transparent;
      pointer-events: none;
    }
  }
html.ie9{
  .ui-datepicker-title{
    &:after{
      display: none;
    }
  }
}


/*Datepicker for mobile devices*/
body.bodyHasDatepicker{
  position: relative;
}
body.bodyHasDatepicker .navbar-fixed-side{
  position: absolute;
}
.ui-datepicker-title{
  padding: 0 !important;
}
.ui-datepicker-title:after{
  display: none !important;
}

.datepicker-select{
  @media @mobile {
    position: relative;
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
  }
  @media @tablet-up {
    display: inline-block;
    float: right;
    margin-right: 15px;
    padding-top: 0px;
    padding-bottom: 4px;
  }
  & select{
    @media @mobile {
      border-radius: 4px;
      padding-left: 5px;
      height: 30px !important;
      position: static !important;
      width: 100% !important;
      margin: 0 !important;
      border: solid 1px #dcdcdc !important;
    }
  }
}


