.dob-group {
    .custom-select{
        width:30%;
        margin-right: 3%;
        float: left;
    }
    .dob-input-hold {
        visibility: hidden;
        height: 0;
    }
} 
    .no-border {
        border: none !important;
    }
    