input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none !important;
}

::-ms-clear {
    display: none;
    width: 0; 
    height: 0; 
}
::-ms-reveal {
    display: none;
    width: 0; 
    height: 0;
}
input[type=search]::-ms-clear{
    display: none; 
    width: 0; 
    height: 0; 
}
input[type=password]::-ms-reveal{
    display: none; 
    width: 0; 
    height: 0; 
}
input[type=text]::-ms-clear {  
    display: none; 
    width: 0; 
    height: 0; 
}
input[type=text]::-ms-reveal {  
    display: none; 
    width: 0; 
    height: 0; 
}
textarea[type="hidden"]{
  visibility:hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px !important;
  height: 30px;
  z-index: -1;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration { display: none; }
input[type="password"]::-webkit-search-decoration,
input[type="password"]::-webkit-search-cancel-button,
input[type="password"]::-webkit-search-results-button,
input[type="password"]::-webkit-search-results-decoration { display: none; }
/*select::-ms-expand {
  display: none;
}*/
.custom-select{
  position: relative;
  .caret{
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -3px;
    pointer-events: none;
  }
}
.custom-select-disabled{
  position: relative;
  select{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .caret{
    display: none;
  }
}

select.form-control{
  option {
    color: black;
  }
}
hr{
  border-color: @default-grey-color;
}

html.ie9{
  select,
  select.input-sm.form-control{
    padding: 0;
  }
}

.form-group{
  label,
  .dealnet-label{
    line-height: 20px;
    margin-bottom: 7px;
  }
}
.form-container{
  margin: 0 auto;
  @media @tablet-only {
    max-width: 728px;
  }
  @media @mobile{
    max-width: 528px;
  }
  .form-section{
    @media @tablet-down {
      max-width: 528px;
      margin: 0 auto;
      .dealnet-success-button{
        width: 100%;
        display: block;
        max-width: 355px;
        margin: 0 auto;
        height: 49px;
        line-height: 36px;
      }
      .scanlicence-notify{
        text-align: center;
      }
    }
  }
}
.custom-checkbox{
  position: relative;
  input[type="checkbox"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked ~ .checkbox-icon{
      .icon-checked{
        opacity: 1;
      }
    }
  }
  .checkbox-icon{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: solid 1px @default-grey-color;
    margin: 0 10px 0 0;
    .icon-checked{
      width: 14px;
      height: 14px;
      display: block;
      position: absolute;
      opacity: 0;
      top: 0;
      right: -3px;
    }
  }

}
.validation-summary-errors{
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      margin: 0 0 10px;
    }
  }
}

  label,
  .dealnet-field-caption{
    font: 14px @usual-font-family;
    color: @heading-text-color2;
  }

.form-control{
  &.input-validation-error{
    border-color: @danger-color !important;
  }
  &:focus{
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 1px @default-grey-color !important;
  }
  &.input-sm {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
  }

}

.text-danger {
  display: block;
  text-align: left;
  font: 11px @usual-font-family;
  color: @danger-color;
  margin-top: 5px;
  &.proceed-error-message{
    position: relative;
/*    width: 355px;
    max-width: 100%;*/
    font-size: 14px;
    line-height: 1.3;
    padding: 14px 18px 12px 45px;
    margin: 15px 0;
    background-color: rgba(217, 46, 0, 0.04);
    border: solid 1px #f4b7b7;
    color: #525251;
    .icon-error{
      position: absolute;
      top: 14px;
      left: 18px;
      color: rgb(218, 46, 0);;
    }
  }
}

.input-validation-error {
  border: solid 1px @danger-color;
}

.clear-address,
.align-middle{
  vertical-align: middle;
  & > *{
    vertical-align: middle;
  }

}
.clear-address{
  line-height: 38px !important;
}
.control-group{
  position: relative;
  input.form-control{
    padding-right: 28px;
  }
  &.has-addon-left{
    input.form-control{
      padding-left: 24px;
    }
    .control-group-addon{
      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
      line-height: 42px;
      width: 24px;
      padding: 0;
      text-align: center;
      background: transparent;
      border: 0;
    }
  }
  &.control-group-pass{
    .icon-svg{
      position: absolute;
      right: 12px;
      top: 12px;
      display: inline-block;
      pointer-events: none;
    }
  }

    .icon-calendar,
    .icon-eye{
      position: absolute;
      right: 5px;
      top: 12px;
      display: inline-block;
      pointer-events: none;
      width: 20px;
      height: 20px;
      color: #979797;
    }
  .icon-eye{
    right: 8px;
  }

  .clear-input{
    display: none;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #dcdcdc;
    &:hover,
    &:focus{
      color: #cacaca;
    }
  }

  input:not(:placeholder-shown) ~ .clear-input{
    display: block;
  }
  .dealnet-disabled-input ~ .clear-input,
  input:read-only ~ .clear-input{
    display: none !important
  }
  .modal-body{
    input:not(:empty) ~ .clear-input{
      display: block;
    }
  }
}


/*div[class^="col-"]{
  float: none;
}*/
div.dataTables_wrapper{
  .label-caption{
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: @heading-text-color;
  }

}
div.dataTables_wrapper div.dataTables_filter{
  width: 100%;
  margin: 0;
  @media @desktop-up {
    display: block !important;
  }
  @media @tablet-down {
    float: none;
    text-align: left;
    display: none;
  }
  .form-control{
    width: 100%;
  }
  label{
    position: relative;
    display: block;
    float: none;
    width: 100%;
    .label-caption{
      @media @desktop-up {
        display: none;
      }
    }
    .icon-search{
      position: absolute;
      right: 4px;
      top: 2px;
      display: inline-block;
      padding: 5px;
      font-size: 16px;
      color: @heading-text-color;
      @media @tablet-down {
        display: none;
      }

    }
  }
  input{
    width: 280px;
    margin: 0;
    max-width: 100%;
    @media @desktop-up {
      padding-right: 30px;
    }
  }
}
div.dataTables_wrapper div.dataTables_length {
  @media @tablet-down {
    width: 100%;
  }
  label{
    @media @tablet-down {
      width: 100%;
    }
  }

  .custom-select{
    width: 120px;
    @media @tablet-down {
      width: calc(~"100% - 105px");
    }
    select{
      width: 100%;
    }
  }
}

.dealnet-input,
.form-control{
  height: 40px;
  border-radius: 4px;
  border: solid 1px @default-grey-color;
  margin-top: 0;
  margin-bottom: 0;
  font: 500 14px/26px @usual-font-family;
  color: @form-text-color;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font: 400 14px/26px @usual-font-family;
  color: @default-grey-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font: 400 14px/26px @usual-font-family;
  color: @default-grey-color;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font: 400 14px/26px @usual-font-family;
  color: @default-grey-color;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font: 400 14px/26px @usual-font-family;
  color: @default-grey-color;
}
.placeholder,
.pac-placeholder{ /* Internet Explorer 9 */
  font: 400 14px/26px @usual-font-family;
  color: @default-grey-color;
}

.dealnet-checkbox {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: solid 1px @default-grey-color;
  background: transparent;
}

.dealnet-disabled-text {
  font: 500 14px @usual-font-family;
  color: @default-grey-color;
}


.form-inline .reset-form-inline{
  .form-group{
    display: block;
  }
  .form-control{
    display: block;
    width: 100%;
  }
  .btn{
    @media @tablet-up {
      margin-top: 25px;
    }
  }
}
.expanded-filter-template{
  .form-group{
    margin-bottom: 10px;
  }
}

.filter-controls{
  position: absolute;
  right: 10px;
  top: 0;
  @media @tablet-down {
    display: block !important;
  }
  .icon-search-control{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    color: @heading-text-color;
    font-size: 18px;
    height: 32px;
  }
  .icon-filter-control{
    display: inline-block;
    height: 32px;
    padding: 0 5px;
    margin-right: 20px;
    vertical-align: middle;
    .icon-filter{
      color: @heading-text-color;
    }
  }
  .icon-filter-control,
  .icon-search-control{
    border: 1px solid transparent;
    &.active{
      border: 1px solid #000;
    }
  }
}
#expand-table-filter{
  @media @tablet-down {
    display: none;
  }
  @media @desktop-up {
    display: block !important;
  }
}

.progress-container{
  margin: 30px 0 20px;
  position: relative;
  padding-right: 30px;
  .clear-data-link{
    position: absolute;
    right: 0;
    top: 0;
  }
  .progress{
    border: 1px solid @default-grey-color;
    box-shadow: none;
    border-radius: 12px;
  }
  .progress-bar{
    background: @success-color;
    box-shadow: none;
  }
  .progress-bar-value{
    color: #5d5d5d;
    position: absolute;
    top: -20px;
    left: 0;
    transform: translateX(-50%);
    margin-left: 5px;
  }
}