
.icon,
.icon-svg{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  &:not(.icon-user){
    fill: currentColor;
  }
}
.icon-new-rental-side{
  width: 20px;
  height: 20px;
  position: relative;
  left: 3px;
}
.icon-my-deals-side{
  position: relative;
  top: -2px;
}
.icon-circle-hold{
  display: inline-block;
  line-height: 28px;
  margin-right: 5px;
}
.icon-edit{
  color: #989897;
}

.icon-link.icon-remove{
  color: #989897;
  cursor: pointer;
  &:hover, &:visited{
    color: #989897;
  }
}
.icon-remove{
  color: #989897;
}

.link-default{
  color: #989897;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: darken(#989897, 20%);
  }
  &:focus{
    color: #989897;
  }
}

svg.icon-remove{
  color: inherit;
}
.icon-user{
  width: 30px;
  height: 30px;
}
.icon-success{
  color: #61c53c;
  position: relative;
  top: -3px;
}
.icon-reject{
  width: 40px;
  height: 40px;
  color: #da2e00;
}

.icon-email{
  width: 24px;
  height: 24px;
}
.icon-successfully {
  width: 70px;
  height: 70px;
  color: #f5ca23;
  text-align: center;
}
.icon-info-grey{
  color: #9A9A99;
}
.icon.icon-info-well{
  width: 24px;
  height: 24px;
}
.flag-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -4px;
  display: inline-block;
  width: 15px;
  height: 9px;
  margin-right: 5px;
}
.english-flag{
  background: url('../../images/icon-english@3x.png') 0 0 no-repeat;
  background-size: cover;
}
.french-flag{
  background: url('../../images/icon-french@3x.png') 0 0 no-repeat;
  background-size: cover;
}

.icon-success-gray-circle{
  width: 43px;
  height: 40px;
}
.icon-decline-circle{
  width: 40px;
  height: 40px;
}

.sort-arrow-top {
    background-size: 10px 7px;
    min-width: 10px;
    min-height: 7px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;

    &--green {
        background-image: url('../../images/redesign_icons/sort-arrow-top-green.svg');
    }

    &--grey {
        background-image: url('../../images/redesign_icons/sort-arrow-top-grey.svg');
    }
}

.sort-arrow-bottom {
    background-size: 10px 7px;
    min-width: 10px;
    min-height: 7px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;

    &--green {
        background-image: url('../../images/redesign_icons/sort-arrow-bottom-green.svg');
    }

    &--grey {
        background-image: url('../../images/redesign_icons/sort-arrow-bottom-grey.svg');
    }
}


.gear-ico {
    background-image: url('../../images/redesign_icons/gear.svg');
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
}

.check-mark-ico {
    background-image: url('../../images/redesign_icons/check-mark.svg');
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
}

.notes-ico {
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;

    &--grey {
        background-image: url('../../images/redesign_icons/notes-grey.svg');
    }

    &--green {
        background-image: url('../../images/redesign_icons/notes-green.svg');
    }
}

.sign-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;

    &--grey {
        background-image: url('../../images/redesign_icons/sign-grey.svg');
    }

    &--yellow {
        background-image: url('../../images/redesign_icons/sign-yellow.svg');
    }

    &--red {
        background-image: url('../../images/redesign_icons/sign-red.svg');
    }

    &--green {
        background-image: url('../../images/redesign_icons/sign-green.svg');
    }
}

.info-ico {
    display: inline-block;
    cursor: pointer;
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/info-grey.svg');

    &--yellow,
    &--14-cbr-warnings,
    &--cbr-warnings,
    &--16-cbr-failure,
    &--cbr-failure,
    &--22-mir,
    &--mir,
    &--22-mir-blue-chip,
    &--mir-blue-chip,
    &--22-mir-northstar,
    &--mir-northstar,
    &--22-more-info-wo-email-notice,
    &--more-info-wo-email-notice,
    &--23-mir-not-received,
    &--mir-not-recieved,
    &--34-docs-back-incomplete,
    &--docs-back-incomplete,
    &--50-audited-deficient,
    &--audited-deficient,
    &--s---more-information,
    &--more-information,
    &--20-credit-review,
    &--credit-review,
    &--20-credit-review-ecp,
    &--credit-review-ecp,
    &--s---credit-review  {
        background-image: url('../../images/redesign_icons/info-yellow.svg');
    }

    &--red,
    &--declined,
    &--25-declined,
    &--25-declined-woemail-notice,
    &--declined-woemail-notice,
    &--25-declined-blue-chip,
    &--declined-blue-chip,
    &--25-declined-enable-deals,
    &--25-declined-northstar,
    &--declined-enable-deals,
    &--declined-northstar,
    &--29-declined-wou-email-notification,
    &--declined-wou-email-notification,
    &--35-dead-deal,
    &--dead-deal,
    &--84-expired-approval,
    &--expired-approval,
    &--85-customer-changed-mind,
    &--customer-changed-mind,
    &--86-cancelled,
    &--cancelled,
    &--86-opportunity-lost,
    &--opportunity-lost,
    &--91-terminated,
    &--terminated,
    &--s---dead,
    &--dead,
    &--s---declined,
    &--credit-check-declined {
        background-image: url('../../images/redesign_icons/info-red.svg');
    }

    &--grass,
    &--26-pre-approved,
    &--26-pre-approved-15k,
    &--26-pre-approved-15-k,
    &--pre-approved,
    &--pre-approved-15-k,
    &--pre-approved-15k,
    &--pre-approved-20-k,
    &--pre-approved-5-k,
    &--approved-10-k,
    &--26-pre-approved-ecp,
    &--pre-approved-ecp,
    &--27-final-review-recommend-approval,
    &--final-review-recommend-approval,
    &--28-approved,
    &--28-approved-15k,
    &--28-approved-15-k,
    &--28-approved-eco-energy,
    &--28-approved-ecp,
    &--28-approved-enbridge,
    &--28-approved-utile-credit,
    &--28-approved-woemail-notice,
    &--28-approved-blue-chip,
    &--28-approved-enable,
    &--28-approved-northstar,
    &--28-approved-northstar-wo-email,
    &--28-approved-second-look,
    &--28-approved-vault,
    &--40-deal-funding-requested,
    &--42-ready-for-audit,
    &--48-audit-in-progress,
    &--sent-to-audit,
    &--49-funding-tomorrow,
    &--51-audited-awaiting-tpv,
    &--52-tpv-confirmed,
    &--53-tpv-internal,
    &--s---approved,
    &--s---funding-requested,
    &--credit-check-approved,
    &--approved,
    &--approved-15k,
    &--approved-15-k,
    &--approved-eco-energy,
    &--approved-ecp,
    &--approved-enbridge,
    &--approved-utile-credit,
    &--approvedwoemail-notice,
    &--approved-blue-chip,
    &--approved-enable,
    &--approved-northstar,
    &--approved-northstarwo-email,
    &--approved-second-look,
    &--approved-vault,
    &--deal-funding-requested,
    &--ready-for-audit,
    &--audit-in-progress,
    &--sent-to-audit,
    &--funding-tomorrow,
    &--audited-awaiting-tpv,
    &--tpv-confirmed,
    &--tpv-internal,
    &--funding-requested,
    &--credit-check-approved,
    &--32-docs-received,
    &--docs-received,
	&--cvc-confirmed,
	&--cvc-waiting-to-fund {
        background-image: url('../../images/redesign_icons/info-grass.svg');
    }

    &--green,
    &--booked,
    &--funded,
    &--46-funded-syndicated,
    &--s---funded,
    &--funded-syndicated  {
        background-image: url('../../images/redesign_icons/info-green.svg');
    }
}


.filter-ico {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;

    &--red {
        background-image: url('../../images/redesign_icons/filter-enabled-red.svg');
    }

    &--white {
        background-image: url('../../images/redesign_icons/filter-enabled-white.svg');
    }
}

.lamp-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/lamp.svg');
}

.cross-ico {
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/cross.svg');
}

.pagination-left-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/pagination-left.svg');
}

.pagination-right-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/pagination-right.svg');
}

.excel-ico {
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/excel.svg');
}

.i-letter-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/i-letter.svg');
}

.checkbox-checked {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/checkbox-checked.svg');
}

.checkbox-empty {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/checkbox-checked.svg');
}

.notification-alert-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/notification-alert.svg');
}

.close-white-ico {
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/close-white.svg');
}

.notification-success-ico {
    background-size: 40px 40px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/notification-success.svg');
}

.search-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/search.svg');
}

.edit-contract-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/edit-contract.svg');
}

.ask-help-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/ask-help.svg');
}

.sort-button-red-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/sort-button-red.svg');
}

.scan-license-ico {
    width: 65px;
    height: 43px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: red;
}

.plus-blue-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/plus-blue.svg');
}

.clear-address-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/clear-address.svg');
}

.calculator-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/calculator.svg');
}

.dw-license-ico {
    background-size: 65px 43px;
    min-width: 65px;
    min-height: 43px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/dw-license.svg');
}

.check-mark-2-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/check-mark-2.svg');
}

.get-location-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/get-my-loc.svg');
}

.close-tick-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/close-tick.svg');
}

.upload-cloud-ico {
    background-size: 92px 65px;
    min-width: 92px;
    min-height: 65px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/upload-cloud.svg');
}

.edit-pen-ico {
    background-size: 16px 22px;
    min-width: 16px;
    min-height: 22px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/edit-pen.svg');
}

.circle-empty-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/circle-empty.svg');
}

.circle-success-ico {
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/redesign_icons/circle-success.svg');
}