.icon,
.icon-svg{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  &:not(.icon-user){
    fill: currentColor;
  }
}
.icon-new-rental-side{
  width: 20px;
  height: 20px;
  position: relative;
  left: 3px;
}
.icon-my-deals-side{
  position: relative;
  top: -2px;
}
.icon-circle-hold{
  display: inline-block;
  line-height: 28px;
  margin-right: 5px;
}
.icon-edit{
  color: #989897;
}
.icon-user{
  width: 30px;
  height: 30px;
}
.icon-success{
  color: #61c53c;
  position: relative;
  top: -3px;
}
.icon-reject{
  width: 40px;
  height: 40px;
  color: #da2e00;
}

.icon-email{
  width: 24px;
  height: 24px;
}
.icon-successfully {
  width: 70px;
  height: 70px;
  color: #f5ca23;
  text-align: center;
}
.icon-info-grey{
  color: #9A9A99;
}
/*

.edit-link{
  display: block;
  background: url('../images/icon-edit.svg') 50% 50% no-repeat;
  text-indent: -999em;
}

.icon-svg{
  width: 20px;
  height: 20px;
}
.icon-svg.icon-user{
  width: 30px;
  height: 30px;
  opacity: 1;
}
#icon-add-app{
  path{
    fill: @info-link-hover-color;
  }
}

#add-additional-applicant,
.clear-address{
  .icon-svg{
    opacity: 0.85;
  }
  &:hover{
    .icon-svg{
      opacity: 1;
    }
  }
}
.icon-svg{
  opacity: 0.85;
  vertical-align: middle;
  &.icon-reports-big{
    opacity: 1;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
&:hover{
  .icon-svg{
    opacity: 1;
  }
}

#icon-reports-big{
  opacity: 0.8;
}
.icon-svg.icon-reject{
  width: 40px;
  height: 40px;
  opacity: 1;
}
#icon-success{
  opacity: 1;
  path{
    fill: @success-color;
  }
}*/