.dataTable {
  font: 900 14px @fontLato;
  color: #525251;
  table-layout: fixed;

  tr {
    background-color: transparent !important;
  }

  th {
    background-color: #f8f8f8;
    height: 29px;
    color: #525251;
    width: 50px !important;
    &:first-child{
      width: 50px !important;
    }
    &:last-child{
      width: 30px !important;
    }
  }

  td {
    background-color: transparent !important;
    border: 1px solid #ededed;
    font: 14px @fontLato;
    color: #525251;
    &.child {
      background-color: #f8f8f8 !important;
      padding-left: 8px !important;
      li {
        border: none !important;
      }

    }
    &:last-child{
      width: 50px !important;
    }
  }
}

.dataTables_info {
  display: none;
}







