
.dataTable.table-reports{
  th, td{

    &.controls-cell{
      padding: 0 !important;
      white-space: nowrap;
      width: 80px;
      @media @mobile {
        width: 60px;
      }

      .controls-hold{
        width: 80px;
        .icon-link {
          padding:0;
          margin: 0 3px;
        }
        @media @mobile {
          width: 75px;
        }
      }
    }

    &.checkbox-cell{
      width: 22px !important;
      padding: 0;
      text-align: center;
      .custom-checkbox{
        display: block;
        padding: 10px;
        width: 38px !important;
        margin: 0;
        margin-top: 5px;
        @media @mobile {
          width: 28px !important;
          padding: 5px !important;
        }
        &:focus{
          outline: none;
        }
      }
      .checkbox-icon{
        margin: 0;
        background:#FFFFFF;
      }
    }

  }
  th.checkbox-cell {
    padding-left: 1px;
  }
}
body:not(.tablet-device):not(.mobile-device){
  .dataTable.table-reports {
    td, th {
      &:not(.contract-cell):not(.checkbox-cell):not(.type-cell):not(.phone-cell):not(.date-cell):not(.edit-cell):not(.controls-cell){
        width: 17% !important;
        @media @tablet-only {
          width: 38% !important;
        }
        @media @mobile {
          width: 55% !important;
        }
      }
    }
  }
}

td.contract-cell:after {
    @media @tablet-only {
        margin-top: -8px;
    }

    @media all and (min-width: 479px) {
        margin-top: -8px;
    }
}

.dataTable.table-reports {

    tbody {

        td.status-cell {
            padding: 5px 8px;
        }

        td.contract-cell {
            padding: 5px 2px 5px 0;
        }
    }

    th, td {

        @media @mobile {
            &.status-cell,
            &.action-cell {
                width: 33%;
            }

            &.customer-cell {
                width: 29%;
                min-width: 60px;
            }
        }

        @media @tablet-up {
            &.status-cell {
                width: 46%
            }
            &.customer-cell {
                width: 29%
            }
        }
    }
}

