.dataTable {
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  color: #525251;

  tr {
    background-color: transparent !important;
  }

  th {
    background-color: #f8f8f8;
    height: 29px;
    color: #525251;
  }

  td {
    background-color: transparent !important;
    border: 1px solid #ededed;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #525251;
    &.child {
      background-color: #f8f8f8 !important;
      padding-left: 8px !important;
      li {
        border: none !important;
      }

    }
  }
}

.dataTables_info {
  display: none;
}







