@navbar-header: #162d43;
@navbar-bg: #1c3752;
@nav-item-active-bg: rgb(38, 64, 90);
@success-color: #ec9800;
@success-shadow-color: #cf8501;
@success-btn-disable-color: #ec9800;
@success-btn-hover-color: #d58900;
@success-btn-active-color: #d58900;

@button-link-color: #ec9800;
@button-link-hover-color: #d58900;
@button-link-active-color: #d58900;

@comments-link-color: #d48902;

@table-tr-hover-bg: rgba(236, 152, 0, 0.05);

@logo-img: url('../images/logo-one-dealer.png');
@spinner-url: url('../images/Spinner_2.gif') 0 0 no-repeat;

