@usual-font-family: 'Lato', sans-serif;

@mobile:      ~"only screen and (max-width: 767px)";
@tablet-up:      ~"only screen and (min-width: 768px)";
@tablet-down:  ~"only screen and (max-width: 1023px)";
@tablet-only:  ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@desktop-up:     ~"only screen and (min-width: 1024px)";
@desktop-down:     ~"only screen and (max-width: 1169px)";
@desktop-only:  ~"only screen and (min-width: 1024px) and (max-width: 1169px)";
@desktop-lg-up:     ~"only screen and (min-width: 1170px)";

/*
** backgrounds
*/
@navbar-header: #162d43;
@navbar-bg: #1c3752;
@nav-item-active-bg: rgb(38, 64, 90);
@success-color: #ec9800;
@success-shadow-color: #cf8501;
@success-btn-disable-color: #ec9800;
@success-btn-hover-color: #d58900;
@success-btn-active-color: #d58900;
@success-text-color: #fff;
@white-color: #fff;
@info-link-color: #38aaee;
@info-link-hover-color: #2a99dc;
@info-link-disable-color: #94d7ff;
@heading-text-color: #1f1f1f;
@form-text-color: #1f1f1f;
@heading-text-color2: #5d5d5d;
@default-grey-color: #dcdcdc;
@default-dark-grey-color: #525251;
@danger-color: #de525e;
@icon-gray-color: #989897;

@button-link-color: #ec9800;
@button-link-hover-color: #d58900;
@button-link-active-color: #d58900;

@comments-link-color: #d48902;

@table-tr-hover-bg: rgba(236, 152, 0, 0.05);

@logo-img: url('../images/logo-one-dealer.png');
@spinner-url: url('../images/Spinner_2.gif') 0 0 no-repeat;

