@fontLato: 'Lato', sans-serif !important;

/*
** backgrounds
*/
@navbar-header: #3e281d;
@navbar-bg: #4c423e;
@success-color: #61c53c;
@success-shadow-color: #42a01f;
@success-btn-disable-color: #7cbd63;
@success-btn-hover-color: #4fb12b;
@success-btn-active-color: #4fb12b;
@success-text-color: #fff;
@white-color: #fff;
@info-link-color: #38aaee;
@info-link-hover-color: #2a99dc;
@info-link-disable-color: #94d7ff;
@heading-text-color: #1f1f1f;
@form-text-color: #1f1f1f;
@heading-text-color2: #5d5d5d;
@default-grey-color: #dcdcdc;
@danger-color: #de525e;