.owner-info {
  margin-top: 27px;
}
.basic-info-form .owner-info{
  margin-top: 15px;
}

#label-steps {
  display: inline-block;
  margin-top: 8px;
}

.dealnet-large-header {
  margin-top: 6px;
}

.owner-info-label {
  margin-top: 27px;
  position: relative;
  .additional-remove {
    display: inline-block;
    margin-left: 38px;
    cursor: pointer;
    @media @mobile {
      margin-left: 0;
      position: absolute;
      right:  0;
      top:  5px;
    }
  }
}

.scanlicense-button,
.scanlicence-button{
  margin-top: 16px;
}

.scanlicense-notify,
.scanlicence-notify{
  color: #989897;
  display: block;
  margin: 25px 0 0 0;
  @media ( max-width: 1023px ){
    display: block;
    margin: 10px 0 0;
  }
}


#add-additional-applicant {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  color: #38aaee;
  margin-top: 26px;
  cursor: pointer;
  width: 200px;
}

#add-additional-applicant:hover {
  color: #2a99dc;
}

#add-additional-applicant > div > img {
  margin-right: 9px;
  margin-top: -2px;
}

#address-info-label {
  margin-top: 37px;
}

#address-info1 {
  margin-top: 37px;
}

#address-info2 {
  margin-top: 16px;
}

#mailing-adress-different {
  margin-top: 25px;
}

#mailing-adress-different > input{
  margin-right: 9px;
  vertical-align: top;
}

#saveproceed-button {
  margin-top: 15px;
}

#mailing-adress1 {
  margin-top: 16px;
}

#mailing-adress2 {
  margin-top: 16px;
}

.clear-address{
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  line-height: 38px !important;
  color: #dcdcdc;
  text-decoration: none;
  &:visited{
    color: #dcdcdc;
    text-decoration: none;
  }
  &:focus{
    outline: none;
    text-decoration: none;
  }
  &:hover {
    color: #cacaca;
    text-decoration: none;
  }
  @media (min-width: 1024px) {
    margin-top: 25px;
  }
  & > *{
    vertical-align: middle;
  }
  .icon+span{
    margin-left: 10px;
  }
}


.clear-address > div {
  margin-top: -4px;
  margin-right: 7px;
}

.modal .modal-dialog {
  width: 400px;
}

#you-want {
  padding-top: 6px;
  padding-bottom: 10px;
  &.dealnet-middle-header-2{
    font-weight: 400;
  }
}

#capture-area {
  padding-top: 20px;
  text-align: center;
}

#big-capture-canvas {
  display: none;
}

.capture-frame {
  width: 100%;
  height: auto;
}

#capture-buttons {
  padding-top: 26px;
  display: inline-block;
}

#retake {
  font-family: Lato;
  font-size: 16px;
  color: #42a01f;
  padding-top: 15px;
  cursor: pointer;
}

#upload-buttons {
  display: table-cell;
  width: 400px;
  height: 270px;
  vertical-align: middle;
  text-align: center;
}

#upload-area {
  text-align: center;
}


#capture-buttons input {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

#tabs {
  padding-top: 10px;
}
.tab-pane {
  padding: 5px 0;
}
.tab-content{
  padding: 10px
}

.nav-tabs {
  border-bottom: 1px solid #dcdcdc;
  & > li.active > a,
  & > li.active > a:focus,
  & > li.active > a:hover {
    border-width: 0;
  }
}
.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  width: 138px;
}

.nav-tabs, .nav-pills {
  text-align:center;
}
.nav-tabs > li > a {
  border: none;
  font-family: @usual-font-family;
  font-size: 18px;
  color: #525251;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  font-family: @usual-font-family;
  font-size: 18px;
  font-weight: bold;
  color: #1f1f1f !important;
  border: none;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: @success-color;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.nav-tabs > li:not(.active):hover > a::after{
  opacity: 0.3;
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  zoom: 1;
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}


.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 50px;
}

#upload-file-button {
  width: 235px;
}

/*.pac-item > span:last-child {
    display: none;
}*/

.pac-icon {
  display: none;
}

.pac-item {
  padding-left: 12px;
}
.additional-remove{
  font-size: 14px;
}

.scanlicence-info-link{
  margin: 0 0 0 17px;
  @media @tablet-only {
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: 197px;
    display: block;
  }
  @media @mobile {
    display: none;
/*    width:  20px;
    margin: 20px auto 0;*/
  }
  &.active{
    &+.scanlicence-info-text{
      display: block;
    }
  }
}
.scanlicence-info-text{
  display: none;

  @media @desktop-up {
    position: absolute;
    left: 310px;
    right: 15px;
    top: 50%;
    margin: -31px 0 0 0;
  }

  @media @tablet-down{
    text-align: center;
    margin: 20px 0 5px;
  }

  @media @mobile {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 13px;
  }
}