
.editor-modal:not(.wide) .modal-footer .dealnet-button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.editor-modal .modal-body {
  padding-top: 0px;
}


.dealnet-field-holder {
  display: inline-block;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  float: right;
  clear: right;
   a{
    font: 14px @usual-font-family;
  }
  .icon-calendar{
    display: none !important;
  }
}
.modal-body{
  .dealnet-field-holder {
    .icon-calendar{
      display: block !important;
    }
  }
}

.dealnet-section-title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  &.empty-title{
    @media @tablet-down {
      display: none;
    }
  }
}
.dealnet-section-edit-link{
  .dealnet-info-link;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}
#credit-check-form .dealnet-button {
  margin-top: 10px;
}

.dealnet-disabled-input{
  border: none;
  background: none;
  text-align: right;
  font: bold 14px @usual-font-family;
  color: @heading-text-color2;
  max-width: 100%;
  width: 100%;
  &.dealnet-disabled-textarea{
    &+.dealnet-disabled-input-value{
      font-weight: 400;
      text-align: left;
    }
  }
  & ~ .caret{
    display: none;
  }
}
input.dealnet-disabled-input,
select.dealnet-disabled-input{

}

.dealnet-modal-section{
  border: none !important;
  margin-top: 10px !important;
/*  padding-right: 10px !important;*/
  & > div {
    text-align: left !important;
  }
}




@media(max-width: 480px) {
  .dealnet-credit-check-section {
    padding-right: 0 !important;
    border: none !important;
  }
}

.dealnet-modal-section input{
  display: block !important;
  width: 100% !important;
}

.dealnet-modal-section .dealnet-field-holder {
  float: none !important;
  width: 100% !important;
}

.dealnet-modal-section>div:first-child {
  display: none !important;
}

.dealnet-credit-check-section {
  width: 100%;
  margin-top: 30px;
  padding: 0;
  border: 0 !important;
}

.left-column-info{
  @media @desktop-up {
    padding-left: 0;
    .dealnet-credit-check-section{
      padding-left: 10%;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: -1px;
        top: 40px;
        bottom: 8px;
        width: 1px;
        background: #000;
      }
    }
  }
}
.credit-check-info-hold{
  & > div[class^="col-"]:not([class*="pull-"]):not([class*="push-"]){
    &:nth-child(odd) {
      @media @desktop-up {
        clear: left;
        padding-right: 0;
        .dealnet-credit-check-section{
          padding-right: 15%;
          border: 0;
        }
      }
   }
    &:nth-child(even) {
      .left-column-info;
   }
  }
  & > div[class*="pull-"]{
    @media @desktop-up {
      padding-right: 0;
      .dealnet-credit-check-section{
        padding-right: 15%;
        border: 0;
      }
    }
  }
  & > div[class*="push-"]{
    .left-column-info;
  }
  &.cols-no-titles{
    & > div[class^="col-"]{
      &:nth-child(even) {
        .dealnet-credit-check-section{
          border: 0;
          padding-right: 0;
          &:before{
            @media @desktop-up {
              top: 0;
            }
          }
        }
      }
    }
  }
  &.equipment-info{
    & > div[class^="col-"]{
      .dealnet-credit-check-section{
        @media (max-width: 992px) {
          border-bottom: 1px solid #000 !important;
          margin-bottom: 20px;
        }
      }
    }
  }
  &.without-divider{
    & > div[class^="col-"]:not([class*="pull-"]):not([class*="push-"]){
      &:nth-child(even) {
        .dealnet-credit-check-section:before{
          display: none;
        }
      }
    }
  }
  &.no-top-margin{
    .dealnet-credit-check-section{
      margin-top: 10px;
      @media @desktop-up {
        margin-top: 0;
      }
    }
  }
}
.summury-return-equip-item{
  &+.summury-return-equip-item{
    border-top: 1px solid #000 !important;
    margin-top: 20px;
    padding-top: 20px;
  }
}
#contact-info-form.shift-to-basic-info{
  & > div[class^="col-"]{
    &:nth-child(odd) {
      @media @desktop-up {
        clear: none;
        padding-right: 15px;
        .dealnet-credit-check-section{
          padding-right: 0;
        }
      }
    }
    .left-column-info;
  }
}

.new-rental-credit-check{
  width: 528px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  @media @mobile {
    font-size: 16px;
  }

  .loader-container{
    margin: 170px auto 70px;
    @media @mobile {
      margin: 30px auto 20px;
      .loader{
        font-size: 17px;
      }
    }

  }
}

.rejected-info{
  margin-top: 50px;
  font-size: 16px;
  h3{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ol{
    padding-left: 15px;
    li{
      margin-bottom: 20px;
    }
  }
  .button-container{
    margin-top: 30px;
  }
}

.equipment-form-container{
  margin-top: 30px;
  .equipment-proceed-success{
    font-weight: bold;
    font-size: 16px;
    @media @mobile {
      font-size: 14px;
    }
  }
  .owner-info-label{
    margin: 15px 0 10px;
  }
  .add-equip-link{
    margin: 25px 0;
  }
  @media @desktop-only {
    .row{
      margin: 0 -10px;
      & > div[class^="col-"]{
        padding: 0 10px;
      }
    }
  }
}


.rental-summary-emails,
.well{
  border-radius: 0;
  box-shadow: none;
  border-color: @default-grey-color;
  &.well-info{
    background-color: rgba(168, 216, 238, 0.17);
    border: solid 1px #90d0ee;
    .icon-email{
      color: #2f9cd0;
    }
  }
  &.success-well{
    background-color: rgba(222, 255, 209, 0.38);
    border: solid 1px #b1d9a6;
    padding-left: 50px;
    position: relative;
    .icon-success{
      color: #61c53c;
      position: absolute;
      left: 17px;
      top: 50%;
      margin-top: -14px;
    }
  }
  .summary-emails-header{
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 44px;
    .icon{
      margin: 0 8px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .summary-emails-header2{
    font-size: 16px;
    padding-left: 44px;
  }
  .btn-container{
    .btn{
      margin-top: 20px;
      @media @desktop-up {
        margin-top: 25px;
        float: right;
        width: 85%;
      }
    }
  }
}
.equipment-info{
  .dealnet-disabled-input{
    text-align: left;
    font-weight: 400;
    width: 100%;
  }
}
.summary-payment-info{
  margin: 20px 0;
  .dealnet-field-caption{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.85;
    @media @desktop-up {
      margin: 10px 0;
    }
    @media @mobile {
      margin: 10px 0;
    }
  }
  .dealnet-field-holder{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    color: @default-dark-grey-color;
    @media @tablet-only {
      text-align: right;
    }
  }
  .dealnet-disabled-input{
    text-align: left;
    font-size: 18px;
    width: 85%;
    float: none;
    display: inline-block;
    color: @default-dark-grey-color;
    @media @tablet-only {
      text-align: right;
    }
  }
  .summary-payment-info-item{
    @media @tablet-down {
      margin: 5px 0 15px;
    }
  }
}
.summary-return-equipment{
  .dealnet-section-title{
    margin-top: 30px;
  }
  .dealnet-disabled-input{
    width: 100%;
    text-align: left;
  }
}
.summary-info-hold{

  .summary-tax-notification{
    margin: 20px 0;
  }



  .btn-container-proceed{
    margin-top: 20px;
  }
  .btn-finish{
    @media @desktop-up {
      float: left;
      margin-right: 40px;
    }
  }
  .print-link{
    display: block;
    text-align: center;
    line-height: 39px;
    padding: 10px;
    color: @default-dark-grey-color;
    &:hover, &:focus{
      color: @default-dark-grey-color;
    }
    .icon{
      margin-right: 10px;
    }
    @media @desktop-up {
      display: inline-block;
      text-align: left;
      padding: 0;
    }
  }
}

.report-documents-list{
  &.editable-list{
    li{
      padding-right: 20px;
      .remove-link{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        color: @heading-text-color;
      }
    }
  }
  li{
    position: relative;
  }
  li+li{
    margin-top: 10px;
  }
  .icon{
    margin-right: 10px;
    color: #989897;
  }
}

.back-to-top-hold{
  display: none;
}
.sent-email-msg{
  .icon-success{
    margin-right: 15px;
  }
}