.rate-cards-container{

  .rate-card{
    float: left;
    margin: 0 10px;
    width: 300px;
    .rate-card-title{
      text-transform: uppercase;
    }
  }
  .rate-card-header{
    .clearfix;
  }
  .rate-card-title{
    float: left;
  }
  .promo-label{
    float: right;
  }
}
.promo-label{
  display: inline-block;
  padding: 5px 10px;
  width: 65px;
  color: #fff;
  background: #ff7b00;
  border-radius: 25px;
  text-align: center;
}