.rental-successful-page{
    @media @tablet-up {
        margin-top: 100px;
    }
    .message {
        &-block {
            float: none;
            margin: 0 auto;
            .icon-successfully {
                margin: 40px 0 80px;
                @media @mobile {
                    margin-bottom: 50px;
                }
            }
            @media @mobile {
                .btn {
                    white-space: normal;
                    height: auto;
                }
            }
        }
        &-header {
            font-family: @usual-font-family;
            font-size: 20px;
            font-weight: 700;
        }
        &-desc {
            margin: 25px 0 40px;
            text-align: justify;
            @media @tablet-down {
                margin: 40px 0 90px;
            }
            @media @mobile {
                margin: 20px 0 40px;
            }
        }
    }
}
