<div class="register-success-container login-container">
	<div class="text-center">
		<div class="align-middle registration-success-header">
			<svg aria-hidden="true" class="icon icon-success"><use xlink:href="@Url.Content("~/Content/images/sprite/sprite.svg#icon-success")"></use></svg>
			<div>
				Great work!<br> Your password was successfully changed.<br class="br-t-min" /> Now your can log in with your new password.
			</div>

			@Html.ActionLink("Go to app", "Login", "Account", null, new { @class = "btn dealnet-button dealnet-success-button" })

		</div>
	</div>
</div>