<div class="login-container">
	<div class="text-center">
		<p class="align-middle registration-success-header">
			<svg aria-hidden="true" class="icon icon-success"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-success"></use></svg>
			<span>You has been successfully registered, please check your email for one-time password.</span>
		</p>
	</div>
</div>
