<div class="login-container">
	<div class="text-center">
		<p class="align-middle registration-success-header">
			<svg aria-hidden="true" class="icon icon-success"><use xlink:href="~/Content/images/sprite/sprite.svg#icon-success"></use></svg>
			<span>Your password was successfully changed. Now your can log in with your new password.</span>
		</p>
	</div>
</div>